<div class="main-background-black">
<div class="main-white-background">

<div class="forms-field">
 <div class="exit-button">
  <img src="../../assets/Images/cross.png" class="cross-image" (click)="backClicked()">
 </div>

  <div class="form-group font">
    <label for="sel1">Communication Preferences</label>
    <input type="text" class="form-control" id="usr">
  </div>
  <label for="sel1" class="font">Change App Subscription:</label>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input font" value="">Switch to Monthly
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input font" value="">Switch to Annual
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input font" value="">Freeze Subscription
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input font" value="">Cancel App Subscription
    </label>
  </div>
  <div class="continue-button blue">
    Update Billing Info
  </div>

  <div class="form-group font">
    <label for="sel1">New Password</label>
    <input type="text" class="form-control" id="usr">
  </div>
  <div class="form-group font">

    <input type="text" class="form-control" id="usr" placeholder="Type again to confirm">
  </div>
  <div class="continue-button">
    Save Changes
  </div>
  <div class="close-account">
    Close Account <br>
    (Delete all My Info)
  </div>
</div>

</div>
</div>