<div  *ngIf="isLoading" class="loading-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<ion-header>
  <app-navigationbar></app-navigationbar>
</ion-header>
<div class="main-pop-background">


  <div class="main-pop">

    
    <div class="pop-grids">

      <div class="modal-grid">
        
        <div class="profile-picture-modal">
          <img src={{picture}} class="image-profile">
        </div>

        <div class="profile-name-modal">
          <span class="name">{{name}}</span>
          <span class="not-verified">Verified</span>

        </div>
        <div class="close-button">
          <img src="../../assets/Images/sign.png" class="close-chat-bubble" (click)="backClicked()">


        </div>
       
      </div>

      <div class="siderbar-icon-data">
        <div class="side-bar-icon">
          <div class="group-text-image">
            <img src="../../assets/Images/popchat.png" class="chat-bubble" routerLink="/new-message/{{uid}}/{{name}}">
            <span class="name-icon">Chat</span>
          </div>
          <div class="group-text-image" (click)="getFavorite()">
            <img src="../../assets/Images/star.png" class="chat-bubble">
            <span class="name-icon">Favorite</span>
          </div>
          <div class="group-text-image">
            <img src="../../assets/Images/sign.png" class="chat-bubble" (click)="backClicked()">
          </div>
          <div class="group-text-image mt-3">
            <span class="name-icon">Never See again</span>
            <img src="../../assets/Images/feeling.png" class="chat-bubble mb-3">
          </div>

          <div class="group-text-image">
            <span class="name-icon">Report to admin</span>
          </div>
        </div>
        <div class="sidebar-content">
          <div class="fields-data">
            <div class="field-name">FullName</div>
            <div class="output-text">{{name}}</div>
          </div>

          <div class="fields-data">
            <div class="field-name">Gender:</div>
            <div class="output-text" *ngFor="let genders of genders">{{genders.value}}</div>
          </div>

          <div class="fields-data">
            <div class="field-name">Actvities:</div>
            <div class="output-text" *ngFor="let activity of activity">{{activity.value}}</div>
          </div>


          <div class="fields-data">
            <div class="field-name" *ngIf="contact">I Want To Be Contacted By:</div>
            <div class="output-text" *ngFor="let contact of contact">{{contact.value}}</div>
          </div>

          <div class="fields-data">
            <div class="field-name" *ngIf="musics">Favorite Music:</div>
            <div class="output-text" *ngFor="let Music of musics">{{Music.value}}</div>
          </div>


          <div class="fields-data">
            <div class="field-name" *ngIf="book">Favorate Books:</div>
            <div class="output-text" *ngFor="let books of book">{{books.value}}</div>
          </div>





          <div class="fields-data">
            <div class="field-name" *ngIf="movie">Favorate Movies:</div>
            <div class="output-text" *ngFor="let movies of movie">{{movies.value}}</div>
          </div>



          <div class="fields-data">
            <div class="field-name" *ngIf="day">How you spend your days?:</div>
            <div class="output-text"  *ngFor="let days of day">{{days.value}}</div>
          </div>

          <div class="fields-data">
            <div class="field-name" *ngIf="cancels">If plan get cancels?:</div>
            <div class="output-text"  *ngFor="let cancel of cancels">{{cancel.value}}</div>
          </div>

          <div class="fields-data">
            <div class="field-name" *ngIf="tends">Firends tends to be?:</div>
            <div class="output-text"  *ngFor="let tend of tends">{{tend.value}}</div>
          </div>
      
          <div class="fields-data">
            <div class="field-name" *ngIf="edue">Education Level:</div>
            <div class="output-text"  *ngFor="let edue of edue">{{edue.value}}</div>
          </div>
      
          <div class="fields-data">
            <div class="field-name" *ngIf="smokes">Do you smokes:</div>
            <div class="output-text"  *ngFor="let smokes of smokes">{{smokes.value}}</div>
          </div>


          <div class="fields-data">
            <div class="field-name" *ngIf="statu">Relationship status:</div>
            <div class="output-text"  *ngFor="let statu of statu">{{statu.value}}</div>
          </div>

          <div class="fields-data">
            <div class="field-name" *ngIf="long">How long you live:</div>
            <div class="output-text"  *ngFor="let long of long">{{long.value}}</div>
          </div>
        
          <div class="fields-data">
            <div class="field-name" *ngIf="alcohol">Do you drink:</div>
            <div class="output-text"  *ngFor="let alcohol of alcohol">{{alcohol.value}}</div>
          </div>

          <div class="fields-data">
            <div class="field-name" *ngIf="language">Language:</div>
            <div class="output-text"  *ngFor="let language of language">{{language.value}}</div>
          </div>

          <div class="fields-data">
            <div class="field-name" *ngIf="talk">Friends talk About:</div>
            <div class="output-text"  *ngFor="let talk of talk">{{talk.value}}</div>
          </div>


          <div class="fields-data">
            <div class="field-name" *ngIf="tv">TV Shows:</div>
            <div class="output-text"  *ngFor="let tv of tv">{{tv.value}}</div>
          </div>

          <div class="fields-data">
            <div class="field-name" *ngIf="good">Good Friends:</div>
            <div class="output-text"  *ngFor="let good of good">{{good.value}}</div>
          </div>


          <div class="fields-data">
            <div class="field-name" *ngIf="pets">Pets:</div>
            <div class="output-text"  *ngFor="let pets of pets">{{pets.value}}</div>
          </div>
         





        </div>
      </div>
    </div>
  </div>
</div>