
<div class="main-background">

  <div class="second-background">
<div class="third-desktop">
  <div class="modal-grid">

    <div class="profile-picture-modal">
      <img src="../../assets/Images/p1.jpg" class="image-profile">

    </div>

    <div class="profile-name-modal">
      <span class="name">{{name}}</span>

    </div>
    <img src="../../assets/Images/cross.png" class="cross-image" (click)="backClicked()">
  </div>

  <div class="sidebar-content">
    <p class="detail-data">FullName:<br><span class="output-text">{{fname}} {{lname}}</span></p>
    <!-- <p class="detail-data-activity"><br><span class="output-text"
        *ngFor="let actvities of activity"></span></p> -->
    <p class="detail-data">Email:<br><span class="output-text">{{Email}}</span></p>
    <p class="detail-data">Date of Birth:<br><span class="output-text">{{DOB}}</span></p>
    <p class="detail-data">Languages:<br><span class="output-text">Hindi,English</span></p>
    <div class="activity">
        <div class="activity-heading">
          Activities:

        </div>
<div class="activity-content" >

<div *ngFor="let actvities of activity">{{actvities.value}}...</div>  
</div>

    </div>
  </div>
  <div class="continue-button">
    Add More Info
  </div>
</div>
</div>
</div>
