<ion-header>
  <div class="navigation">
    <div class="main-logo">
    <img src="../../assets/Images/header-logo.png" alt="" srcset="" class="header-logo" routerLink="/">
    </div>
    
    <div class="account-status">
    
      <img src="../../assets/Images/user-12.png" class="status-check" (click)="LoginOpen()">
    </div>
    
    <div class="humburger-menu">
      <img src="../../assets/Images/cross.png" class="hum-burger-menu-cross" *ngIf="crossSign" (click)="humBurgerCross()">
      <img src="../../assets/Images/hum.png" class="hum-burger-menu" (click)="humburgereffect()" *ngIf="humBurger" >
    </div>
   
    </div>
    
    <div class="main-menu" *ngIf="mainMenu">
      <ul class="main-list" (click)="itemclick()">
        <li><a routerLink="/elipsispipe">Map</a></li>
        <li><a routerLink="/home">Screen1</a></li>
        <li><a routerLink="/location-targetting">Screen 3</a></li>
        <li><a routerLink="/register">Screen 4</a></li>
        <li><a routerLink="/chat/searchTab">Screen 8</a></li>
        <li><a routerLink="/chat/tabs2">Screen 9</a></li>
        <li><a routerLink="/search-result">Screen 10</a></li>
        <li><a routerLink="/chat/tabs2">Screen 11</a></li>
        <li><a routerLink="/personal-chat">Screen 12</a></li>
        <li><a routerLink="/notificationchat">Screen 13</a></li>
        <li><a href="#">LogOut</a></li>
      </ul>
    </div>
  </ion-header>

 <div class="login-form" *ngIf="logggenIn">

  <form class="form-fields">
    <label for="name" class="form-label">Username</label><br>
    <input type="text" id="name"  class="form-field-zip-code search-country" name="username" #username><br>

    <label for="name" class="form-label">Password</label><br>
    <input  id="password" name="password" class="form-field-zip-code search-country" #password type="password">

    <div class="button-container">
      <button type="button" class="button-common" (click)="LoginForm(username.value,password.value)">Submit</button>
    </div>
</form>


 </div>