/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.mat-tab-label {
    padding: 0 16vw !important;
}
.modal-backdrop
{
  height: auto !important;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0em 2em;
}
// .mat-form-field {
//   display: inline-block;
//   position: relative;
//   text-align: left;
//   width: 100%;
//   border: 1px solid ;;
//   border-radius: 7px;
//   height: 48px;
//   background-color: #F2F2F2 !important;
// }
// .mat-form-field-appearance-legacy .mat-form-field-underline {
//   height: 1px;
//   opacity: 0;
// }
// .mat-form-field {
//   display: inline-block;
//   position: relative;
//   text-align: left;
//   margin-bottom: 15px;
//   margin-top: 10px;
// }
// .mat-select-arrow {
//   width: 0px;
//   height: 10px !important;
//   border-left: 7px solid transparent !important;
//   border-right: 7px solid transparent !important;
//   border-top: 8px solid !important;
//   margin: 0 15px !important;
// }
// .mat-select-value-text.ng-star-inserted {
//   padding-left: 10px !important;
// }
.ion-color-light {
  margin-top: -2px !important;
  --ion-color-contrast: black !important;
  --ion-color-base: #e2d9d95e !important;
  font-weight: normal;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}
.ios.overscroll.hydrated {
  background-color: white !important;
}


 body
{
  --ion-background-color: white !important;
  --ion-color-step-250: transparent !important;
--ion-text-color: black !important;
}
ion-card-subtitle.ion-inherit-color.ios.hydrated {
  background-color: transparent !important;
}
@media (prefers-color-scheme: dark) {
  body {
    
      color: black !important;
  }
}


mat-tab-header.mat-tab-header {
  display: none;
}
mat-tab-header.mat-tab-header.mat-tab-header-pagination-controls-enabled {
  display: none;
}
.mat-tab-body-content.ng-trigger.ng-trigger-translateTab {
  z-index: 1000;
  background-color: white;
}

@font-face {
  font-family: 'ammieeRegular';
  src: url(./assets/font/AimeeRegular.ttf);
}
@font-face {
  font-family: 'ammieeBold';
  src: url(./assets/font/aimeebold.ttf);
}
@font-face {
  font-family: 'ammieeItalic';
  src: url(./assets/font/aimeeitalic.ttf);
}
.main-singin {
  background: white;
  }
  body
  {
    background: white;
  }
  .alert-wrapper.sc-ion-alert-ios {
    border-radius: 13px;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    background: whitesmoke;
}
.item-native
{
  background-color: white;
}
@media (prefers-color-scheme: dark){
.ios body {
  
   
    background-color:white;
    --ion-item-background: white;
}
}
@media (prefers-color-scheme: dark){
  .ios body { 
   --ion-color-step-250: transparent !important;
      --ion-color-step-300: #4d4d4d;
      /* --ion-color-step-350: #595959; */
      --ion-color-step-400: #666666;
      /* --ion-color-step-450: #737373; */
      --ion-color-step-500: #808080;
      /* --ion-color-step-550: #8c8c8c; */
      /* --ion-color-step-600: #999999; */
      --ion-color-step-650: #a6a6a6;
      --ion-color-step-700: #b3b3b3;
      --ion-color-step-750: #bfbfbf;
      --ion-color-step-800: #cccccc;
      --ion-color-step-850: #d9d9d9;
      --ion-color-step-900: #e6e6e6;
      --ion-color-step-950: #f2f2f2;
    
  
  }
  }
  
  @media (prefers-color-scheme: dark){
  .md body
  {
    --ion-item-background: white !important;
    --ion-border-color: transparent !important;
  }
  }
  ion-item.usually-dropdown.ion-untouched.ion-pristine.ion-valid.item-interactive.item-select.item.md.ion-activatable.ion-focusable.item-label.hydrated {
    border: 1px solid;
    border-radius: 6px;
    
}
ion-item.usually-dropdown.mb-4.item-interactive.item-select.item.ios.ion-activatable.ion-focusable.item-label.hydrated.ion-pristine.ion-valid.ion-touched {
  border: 1px solid;
  border-radius: 6px;
  
}
ion-item.usually-dropdown.item-interactive.item-select.item.ios.ion-activatable.ion-focusable.item-label.hydrated.ion-valid.ion-touched.ion-dirty {
  border: 1px solid;
  border-radius: 6px;
  
}
ion-item.item-interactive.item-select.item.md.ion-activatable.ion-focusable.item-label.hydrated.ion-untouched.ion-pristine.ion-valid {
  border: 1px solid;
  border-radius: 6px;
}
ion-item.item-interactive.item-select.item.md.ion-activatable.ion-focusable.item-label.hydrated.item-has-value.ion-valid.ion-touched.ion-dirty {
  border: 1px solid;
  border-radius: 6px;
}
ion-item.item.md.ion-activatable.ion-focusable.item-label.hydrated.item-interactive.item-select.ion-pristine.ion-valid.ion-touched {
  border: 1px solid;
  border-radius: 6px;
}
ion-item.item-interactive.item-select.item.ios.ion-activatable.ion-focusable.item-label.hydrated.ion-pristine.ion-valid.ion-touched {
  border: 1px solid;
  border-radius: 6px;
}


.item-highlight
{
  display: none !important;
}
ion-item.usually-dropdown.item-interactive.item-select.item.ios.ion-activatable.ion-focusable.item-label.hydrated.item-has-value.ion-valid.ion-touched.ion-dirty {
  border: 1px solid black;
  border-radius: 6px;
}
.item-inner{
  border-style: unset !important;
  }
ion-item.ion-untouched.ion-pristine.ion-valid.item-interactive.item-select.item.ios.ion-activatable.ion-focusable.item-label.hydrated {
    border: 1px solid black;
    border-radius: 6px;
}
ion-item.item-interactive.item-select.item.ios.ion-activatable.ion-focusable.item-label.hydrated.item-has-value.ion-valid.ion-touched.ion-dirty {
  border: 1px solid;
  border-radius: 6px;
}
ion-item.usually-dropdown.item-interactive.item-select.item.ios.ion-activatable.ion-focusable.item-label.hydrated.ion-valid.ion-touched.ion-dirty {
  border: 1px solid;
  border-radius: 6px;
 
}



select {
  background-image:
    linear-gradient(45deg, transparent 50%, #a6a6a6 60%),
    linear-gradient(135deg, #a6a6a6 40%, transparent 50%) !important;
    background-position: calc(100% - 21px) 16px, calc(100% - 15px) 16px, 58% -1px;
    background-size: 6px 6px, 6px 6px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
}

ion-select.ng-valid.ios.in-item.hydrated.ng-touched.ng-dirty.ion-valid.ion-touched.ion-dirty {
  padding-left: 0em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
ion-label#ion-sel-0-lbl {
  display: none;
}
ion-select.ng-valid.ios.in-item.hydrated.ng-touched.ng-dirty.ion-valid.ion-touched.ion-dirty div{
 
  width: 100%;
}
.select-icon
{
  width: 100vw;
}
.item .sc-ion-label-ios-h {
  --color: initial;
  display: block;
  color: var(--color);
  font-family: var(--ion-font-family, inherit);
  font-size: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
}
div.ion-select
{
  padding-left: 10vw !important;
}

ion-select.ion-select-option-setting.ng-valid.ios.in-item.hydrated.ng-touched.ng-dirty.ion-valid.ion-touched.ion-dirty {
  width: 100vw;
}
ion-select-option#ion-selopt-0 {
  max-width: 100vw;
}
ion-select.ion-select-option-setting.ng-pristine.ng-valid.ion-pristine.ion-valid.ios.in-item.hydrated div
{
  min-width: 72vw;
}
ion-select.ng-pristine.ng-valid.ion-pristine.ion-valid.ios.in-item.hydrated {

  width: 100vw;
  max-width: 100%;

}
ion-select.ng-valid.ios.in-item.hydrated.ng-touched.ng-dirty.ion-valid.ion-touched.ion-dirty {
  width: 100vw;
  max-width: 100%;
}
ion-select.ion-select-option-setting.ng-untouched.ng-pristine.ng-valid.ion-untouched.ion-pristine.ion-valid.md.in-item.hydrated {
  width: 100vw;
  max-width: 100%;
}
ion-select.ion-select-option-setting.ng-valid.md.in-item.hydrated.ng-touched.ng-dirty.ion-valid.ion-touched.ion-dirty {
  width: 100%;
  max-width: 100%;
}
ion-select.ng-valid.md.in-item.hydrated.ng-touched.ng-dirty.ion-valid.ion-touched.ion-dirty {
  width: 100vw;
  max-width: 100%;
}

ion-select.ng-untouched.ng-pristine.ng-valid.ion-untouched.ion-pristine.ion-valid.md.in-item.hydrated {
  max-width: 100%;
  width: 100vw;
}
.alert-checkbox-label.sc-ion-alert-md {
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 53px;
  padding-inline-start: 53px;
  -webkit-padding-end: 26px;
  padding-inline-end: 26px;
  color: black;
}

.alert-radio-label.sc-ion-alert-md {
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 52px;
  padding-inline-start: 52px;
  -webkit-padding-end: 26px;
  padding-inline-end: 26px;
  color: black;
}
.alert-radio-group, .alert-checkbox-group {
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  /* max-height: 240px; */
  border-top: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 46vh !important;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover {
  color: whitesmoke !important;
  background: #bf5279 !important;
}
option {
  background-color: white !important;
}
.bootstrap-select {
  color: whitesmoke !important;
  background: #bf5279 !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  border: 1px solid;
  /* height: 6vh; */
  background-color: transparent;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
 padding: 0em 0em 0em 0em !important;
}
.alert-wrapper.sc-ion-alert-md {
  /* width: 27%; */
  min-width: 90vw;
  max-height: 50vh;
}

.dating-body-font
{
  font-family: 'Montserrat', sans-serif !important;
}
.dating-body-heading
{
  font-family: 'Cairo', sans-serif !important;
  font-weight: 700 !important;
}
.alert-checkbox-label.sc-ion-alert-md
{
  font-family: 'Montserrat', sans-serif !important;
}
.ng-valid.md.in-item.hydrated.ng-touched.ng-dirty.ion-valid.ion-touched.ion-dirty {
  width: 100vw;
  max-width: 100%;
  font-family: 'Montserrat', sans-serif !important;
}
.ng-untouched.ng-pristine.ng-valid.ion-untouched.ion-pristine.ion-valid.md.in-item.hydrated {
  max-width: 100%;
  width: 100vw;
  font-family: 'Montserrat', sans-serif !important;

}
