

  <div class="background" >

    <div class="members-grid" style="background-color: #4372C4;color: white;">

      <div class="photo-member-grid">
        <img src="../../assets/Images/p1.jpg" class="image-profile">

      </div>

      <div class="data-member-grid">
        <p class="name card-item">Lorem</p>
        <ion-label class="hobbies card-item "><span class="left-heading">Activities:&nbsp;</span>Lorem1,Lorem2...
        </ion-label>
        <p class="distance card-item"><span class="left-heading">Distance:</span>1 miles away</p>

      </div>
<img src="../../assets/Images/favorite.png" class="blue-star">
    </div>





    <div class="members-grid">

      <div class="photo-member-grid">
        <img src="../../assets/Images/p1.jpg" class="image-profile">

      </div>

      <div class="data-member-grid">
        <p class="name card-item">Lorem</p>
        <ion-label class="hobbies card-item "><span class="left-heading">Activities:&nbsp;</span>Lorem1,Lorem2...
        </ion-label>
        <p class="distance card-item"><span class="left-heading">Distance:</span>1 miles away</p>

      </div>
      <img src="../../assets/Images/favorite.png" class="blue-star">
    </div>

    <div class="members-grid">

      <div class="photo-member-grid">
        <img src="../../assets/Images/p1.jpg" class="image-profile">

      </div>

      <div class="data-member-grid">
        <p class="name card-item">Lorem</p>
        <ion-label class="hobbies card-item "><span class="left-heading">Activities:&nbsp;</span>Lorem1,Lorem2...
        </ion-label>
        <p class="distance card-item"><span class="left-heading">Distance:</span>1 miles away</p>

      </div>
      <img src="../../assets/Images/favorite.png" class="blue-star">
    </div>

  </div>
