
<ion-content>
  <div class="background" >
    <div class="members-grid" *ngFor="let favorite of ParseFavorate">
      <div class="photo-member-grid">
        <img src={{favorite[0].picture}} class="image-profile">
      </div>
      <div class="data-member-grid">
        <p class="name card-item">{{favorite[0].name}}</p>
        <ion-label class="hobbies card-item "  ><span class="left-heading">Activities:&nbsp;</span>{{favorite[0].activities.value}}....
        </ion-label>
        <p class="distance card-item"><span class="left-heading">Distance:</span>1 miles away</p>
      </div>
      <img src="../../assets/Images/favorite.png" class="blue-star">
    </div>
  </div>
</ion-content>