.background
{
    background-image: url('../../assets/Images/BackgroundTile.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow-x: auto;
}
.container-card
{
    margin-top: 5vh;
}
.membership {
   
    padding: 10px;
    text-align: left;
    background-color: white;
}
.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0em;
}
.picture-img
{
  
    width: 50vw;
    height: 13vh;
    border-radius: 50%;
  

    position: relative;
    top: 7vh;
    box-shadow: 0px 0px 0px 2px white;
}
.top-card {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    padding-top: 8vh;
    width: 86vw;
    background-color: white;
    margin: -5px;
    padding-bottom: 2vh;
    box-shadow: 2px 2px 6px 4px #2125294d;
}
p
{
    margin-bottom: 5px;
    margin-top: 5px;
}
.image-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29vw;
}
.inner-group {
    display: grid;

    
}
.membership.inner-group-activity {
    display: grid;

}
ion-card.subscribe-card.md.hydrated {
    margin: 2.5em 2em;
    box-shadow: 2px 2px 6px 4px#2125294d;
}
.name {
    font-size: 18px;
    font-weight: 600;
}
.name-output {
    font-size: 17px;
    font-weight: 400;
    margin: 3px 0px;
}