.background
{
    background-image: url('../../assets/Images/BackgroundTile.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow-x: auto;
}
.container-card
{
    margin-top: 5vh;
}
.membership {
   
    padding: 10px;
    text-align: left;
    background-color: white;
}
.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0em;
}
.picture-img
{
  
    width: 50vw;
    height: 13vh;
    border-radius: 50%;
  

    position: relative;
    top: 7vh;
    box-shadow: 0px 0px 0px 2px white;
}
.top-card {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    padding-top: 8vh;
    width: 90vw;
    background-color: white;
    margin: -5px;
    padding-bottom: 2vh;
}
p
{
    margin-bottom: 5px;
    margin-top: 5px;
}
.image-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29vw;
}
.inner-group {
    display: grid;

    grid-template-columns: 2fr 1fr;
    
}
.membership.inner-group-activity {
    display: flex;
    justify-content: space-between;
}