<div class="main-pop-background"*ngIf="!isLoggedIn">


  <div class="main-pop">
  
  
    <div class="pop-grids">

      <div class="pop-content">
        Not4Dating wants to help you create communities, build meaningful relationships and feel truly connected to others.
        <h5 class="whos-on-site">Who’s on the site?</h5>


        <div class="checkbox-popup">
          <img src="../../assets/Images/check.png" class="check-box">
          <p class="check-box-text">Our youngest member is 18,our oldest member is 85</p>
        </div>
        <div class="checkbox-popup">
          <img src="../../assets/Images/check.png" class="check-box">
          <p class="check-box-text">64% In a Relationship, 36% Not in a Relationship  </p>
        </div>
        <div class="button-flex">
          <button type="button" class="btn btn-primary register-button" routerLink="/signup">Register Now</button>
          <button type="button" class="btn btn-primary login-button" routerLink="/signin">Login Now</button>
        </div>
      </div>
     
    </div>
    
  
  </div>
  </div>




<div class="background" *ngIf="isLoggedIn">
  <div class="container-card" >


    <div class="picture">
      <div class="image-card">
        <img src="{{picture}}" class="picture-img">
      </div>
      <div class="top-card">
        <div class="name-output">{{mail}}</div>
        <p class="name-output">{{name}}</p>
      </div>
    </div>




    <ion-card class="subscribe-card">
      <div class="membership">
        <div *ngIf="genders" class="inner-group">
          <div class="name">Gender</div>
          <div *ngFor="let gender of genders" class="name-output">{{gender.value}}</div>
        </div><br>
        <div *ngIf="statu" class="inner-group">
          <div class="name">Relationship Status:</div>
          <div *ngFor="let status of statu" class="name-output">{{status.value}}</div>
        </div><br>
        <div *ngIf="edue" class="inner-group">
          <div class="name">Education Level</div>
          <div *ngFor="let edu of edue" class="name-output">{{edu.value}}</div>
        </div>
      </div>
    </ion-card>







    <ion-card class="subscribe-card" *ngIf="activity">
      <div class="membership inner-group-activity">
        <div >
          <div class="name">Activities/Interests</div>
        </div>
        <div>
        <div *ngFor="let actvities of activity" class="name-output">{{actvities.value}}</div>
      </div>
      </div>
    </ion-card>


    <ion-card class="subscribe-card">
      <div class="membership">
        <div *ngIf="smokes" class="inner-group">
          <div class="name">How Often Do You Smoke?:</div>
          <div *ngFor="let smoke of smokes" class="name-output">{{smoke.value}}</div>
          <br>
        </div>
        <div *ngIf="tends" class="inner-group">
          <div class="name">Most Of My Friends Tend To Be:</div>
          <div *ngFor="let tend of tends" class="name-output">{{tend.value}}</div>
          <br>
        </div>
        <div *ngIf="cancels" class="inner-group">
          <div class="name">How Do you React If Plans Get Cancelled?:</div>
          <div *ngFor="let cancel of cancels" class="name-output">{{cancel.value}}</div>
          <br>
        </div>

        <div *ngIf="day" class="inner-group">
          <div class="name">How Do You Spend Your Days:</div>
          <div *ngFor="let days of day" class="name-output">{{days.value}}</div>
          <br>
        </div>


        <div *ngIf="movie" class="inner-group">
          <div class="name">Favorite Movies:</div>
          <div *ngFor="let movies of movie" class="name-output">{{movies.value}}</div>
          <br>
        </div>

        <div *ngIf="Musics" class="inner-group">
          <div class="name"> Favorite Music</div>
          <div *ngFor="let Music of musics" class="name-output">{{Music.value}}</div>
          <br>
        </div>


        <div *ngIf="show" class="inner-group">
          <div class="name">Favorite TV Shows</div>
        <div *ngFor="let shows of show" class="name-output">{{shows.value}}</div>
        <br>
        </div>


        <div *ngIf="book" class="inner-group">
          <div class="name">Favorate Books</div>
          <div *ngFor="let books of book" class="name-output">{{books.value}}</div>
          <br>
        </div>


        <div *ngIf="friend" class="inner-group">
          <div class="name">My Friends And I Usually Talk About:</div>
        <div *ngFor="let friends of " class="name-output">{{friends.value}}</div>
        <br>
        </div>


       
      </div>
    </ion-card>

   





 









    











  </div>


</div>

