<div  *ngIf="isLoading" class="loading-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<ion-header>
  <app-navigationbar></app-navigationbar>
</ion-header>

<div class="main-New-message-container">

  <div class="heading-mew-message">
    Create new chat thread
  </div>
  
  <div class="form-group">
    <input type="text" class="form-control" id="usr" name="Subject" [(ngModel)]="Subject" placeholder="Enter Subject">
  </div>
  <div class="form-group">
  
    <textarea class="form-control" rows="5" id="comment" name="Message" [(ngModel)]="Message"  placeholder="Enter Message"></textarea>
  </div>

<div class="button-align">

  <button type="button" class="btn btn-primary send-button" (click)="sendMessage()">Send</button>



</div>
</div>

