<ion-header ></ion-header>

<div class="background">
  <div class="tittle-home-page">
    <ion-card-subtitle class="tittle-home">Recent members in you area</ion-card-subtitle>
  </div>

  <div class="member-cards" data-toggle="modal" data-target="#myModal">
    <div class="member-card-image">
      <img src="../../assets/Images/user_1.png" alt="" srcset="" class="user-image">
    </div>
    <div class="member-card-text">
      <p class="name card-item">Vibrant_chef<ion-badge slot="end"  color="light">Parent</ion-badge></p>
     
      <ion-label class="hobbies card-item"><span class="left-heading">Hobbies:</span>Travel,Driving…</ion-label>
      <ion-badge slot="end"  color="light">22</ion-badge>
      <ion-label class="hobbies card-item"><span class="left-heading">Activities:</span>Happyhour..</ion-label>
      <ion-badge slot="end"  color="light">22</ion-badge>
      <p class="distance card-item"><span class="left-heading">Distance:</span>1 miles away</p> 
    </div>
  </div>






  <div class="member-cards">
    <div class="member-card-image">
      <img src="../../assets/Images/user_2.png" alt="" srcset="" class="user-image">
    </div>
    <div class="member-card-text">
      <p class="name card-item">ikial_55<ion-badge slot="end"  color="light">Pet Owner</ion-badge></p>
      <ion-label class="hobbies card-item"><span class="left-heading">Hobbies:</span>Travel,Driving…</ion-label>
      <ion-badge slot="end"  color="light">22</ion-badge>
      <ion-label class="hobbies card-item"><span class="left-heading">Activities:</span>Happyhour..</ion-label>
      <ion-badge slot="end"  color="light">22</ion-badge>
      <p class="distance card-item"><span class="left-heading">Distance:</span>10 miles away</p> 
    </div>
  </div>

  
  <div class="member-cards">
    <div class="member-card-image">
      <img src="../../assets/Images/user_4.png" alt="" srcset="" class="user-image">
    </div>
    <div class="member-card-text">
      <p class="name card-item">faithorg<ion-badge slot="end"  color="light">Parent</ion-badge></p>
      <ion-label class="hobbies card-item"><span class="left-heading">Hobbies:</span>CookingDriving..</ion-label>
      <ion-badge slot="end"  color="light">22</ion-badge>
      <ion-label class="hobbies card-item"><span class="left-heading">Activities:</span>Videogames,yoga...</ion-label>
      <ion-badge slot="end"  color="light">22</ion-badge>
      <p class="distance card-item"><span class="left-heading">Distance:</span>10 miles away</p> 
    </div>
  </div>

  <div class="member-cards">
    <div class="member-card-image">
      <img src="../../assets/Images/user_5.png" alt="" srcset="" class="user-image">
    </div>
    <div class="member-card-text">
      <p class="name card-item">dedrick96<ion-badge slot="end"  color="light">Pet Owner</ion-badge></p>
      <ion-label class="hobbies card-item"><span class="left-heading">Hobbies:</span>Travel,Driving…</ion-label>
      <ion-badge slot="end"  color="light">22</ion-badge>
      <ion-label class="hobbies card-item"><span class="left-heading">Activities:</span>Happyhour..</ion-label>
      <ion-badge slot="end"  color="light">22</ion-badge>
      <p class="distance card-item"><span class="left-heading">Distance:</span>4 miles away</p> 
    </div>
  </div>

  <div class="member-cards">
    <div class="member-card-image">
      <img src="../../assets/Images/user_-4.png" alt="" srcset="" class="user-image">
    </div>
    <div class="member-card-text">
      <p class="name card-item">YogaGuy<ion-badge slot="end"  color="light">Parent</ion-badge></p>
      <ion-label class="hobbies card-item"><span class="left-heading">Hobbies:</span>Travel,Driving…</ion-label>
      <ion-badge slot="end"  color="light">22</ion-badge>
      <ion-label class="hobbies card-item"><span class="left-heading">Activities:</span>Happyhour,..</ion-label>
      <ion-badge slot="end"  color="light">22</ion-badge>
      <p class="distance card-item"><span class="left-heading">Distance:</span>1 miles away</p> 
    </div>
  </div>



  <div class="member-cards">
    <div class="member-card-image">
      <img src="../../assets/Images/user_7.png" alt="" srcset="" class="user-image">
    </div>
    <div class="member-card-text">
      <p class="name card-item">DLeigh<ion-badge slot="end"  color="light">Pet Owner</ion-badge></p>
      <ion-label class="hobbies card-item"><span class="left-heading">Hobbies:</span>Travel,Driving…</ion-label>
      <ion-badge slot="end"  color="light">22</ion-badge>
      <ion-label class="hobbies card-item"><span class="left-heading">Activities:</span>Happyhour..</ion-label>
      <ion-badge slot="end"  color="light">22</ion-badge>
      <p class="distance card-item"><span class="left-heading">Distance:</span>2 miles away</p> 
    </div>
  </div>

  <div class="member-cards" (click)="test()" >
    <div class="member-card-image">
      <img src="../../assets/Images/user_1.png" alt="" srcset="" class="user-image">
    </div>
    <div class="member-card-text">
      
  </div>

</div>




  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
         
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p class="modal-para">Not4Dating wants to help you create communities, build meaningful relationships and feel truly connected to others</p>
           <h5 class="whos-on-site">Who’s on the site?</h5>
          <div class="checkbox-popup">
            <img src="../../assets/Images/check.png" class="check-box">
            <p class="check-box-text">Our youngest member is 18,our oldest member is 85</p>
          </div>
          <div class="checkbox-popup">
            <img src="../../assets/Images/check.png" class="check-box">
            <p class="check-box-text">64% In a Relationship, 36% Not in a Relationship  </p>
          </div>

          <div class="button-flex">
            <button type="button" class="btn btn-primary register-button" routerLink="/register">Register Now</button>
            <button type="button" class="btn btn-primary login-button">Login Now</button>
          </div>
        </div>
       
      
        
       
        
      </div>
    </div>