
<ion-header>
  <app-navigationbar></app-navigationbar>
</ion-header>

<ion-content>

  <div *ngIf="isLoading" class="loading-container">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <div class="main-singin">
    <!-- <div class="login-buton">
  
  <div class="facebook-Login-buttom Login-page-button">
    Login with Facebook
  </div>
  
  <div class="google-Login-buttom Login-page-button">
    Login with Google
  </div>
  
    </div> -->
    <!-- <div class="or">OR</div> -->
    <div class="login-username dating-body-heading">Reset with Email or Username</div>
    <div class="forms-field">
      <div class="form-group">
        <input type="text" class="form-control" id="usr" placeholder="User Name/Email" name="user" [(ngModel)]="user">
      </div>
  
    
     
      <div class="continue-button dating-body-heading" (click)="resetPassword(user)">
        Continue
      </div>
    
      <div class="previous-button dating-body-heading" (click)="locationBack()">
        Back
      </div>
    </div>
  
  
  </div>

</ion-content>
