
  <app-navigationbar> </app-navigationbar>


<div *ngIf="isLoading" class="loading-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<ion-content>

<div class="main-singin">
  <!-- <div class="login-buton">

<div class="facebook-Login-buttom Login-page-button">
  Login with Facebook
</div>

<div class="google-Login-buttom Login-page-button">
  Login with Google
</div>

  </div> -->
  <!-- <div class="or">OR</div> -->
  <div class="login-username dating-body-heading">Login with Email or Username</div>
  <div class="forms-field">
    <div class="form-group">
      <input type="text" class="form-control" id="usr" placeholder="User Name" name="user" [(ngModel)]="user">
    </div>

    <div class="form-group">

      <input type="password" class="form-control" id="usr" placeholder="Password" name="password"
        [(ngModel)]="password">
        <div class="forgot-container dating-body-font" routerLink="/forgot">Forgot Password?</div> 
    </div>
   
    <div class="continue-button dating-body-heading" (click)="nextSteps()">
      Continue
    </div>

  </div>


</div>
</ion-content>