<ion-header>
  <app-navigationbar></app-navigationbar>
</ion-header>
<div  *ngIf="isLoading" class="loading-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>


<ion-content>
<div class="background-card">
  <div class="main-content-chat">
    <div class="chat-items">
      <div routerLink="/notificationchat/{{message.thread_id}}/{{message.picture.filename}}/{{message.name}}"
        class="chat-grid" *ngFor="let message of counterpartParticipants">
        <div class="image">
          <img src="https://gowebtutorial.com/sites/default/files/{{message.picture.filename}}" class=" image-chat">
        </div>

        <div class="name">
          <p class="chat-name">{{message.name}}</p>
          <p class="last-chat">Subject:&nbsp;{{message.subject}}</p>
        </div>
        <div class="time" *ngIf="(now | date:'yyyy')==(message.time  * 1000 | date:'yyyy')">
          <div class="time-text">{{message.time  * 1000 | customDate}}</div>
        </div>
        <div class="time" *ngIf="(now | date:'yyyy')!=(message.time  * 1000 |date:'yyyy')">
          <div class="time-text">{{message.time  * 1000 | year}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
</ion-content>