<ion-header>
  <app-navigationbar></app-navigationbar>
</ion-header>

<ion-content>


    <div class="success-market">We are happy to see you again
      and can’t wait to help you find
      friends! I see this is the first time
      you have logged in to the app.
    </div>

    <div class="last-tab-button" routerLink="/find-friends">
      <div class="continue-button-last">
        Free 7 day Trial
      </div>

      <div class="button-last">
        <span class="under-text-button">(No card required)</span>
      </div>
    </div>




    <div class="success-market">Become a verified member
      now for ad-free app usage,
      unlimited instant messages,
      and enhanced search</div>


    <div class="last-tab-button">
      <div class="continue-button-last" routerLink="/find-friends">
        Become Verified
      </div>

      <div class="button-last">
        <a href="https://not4dating.com/"> <span class="under-text-button">No Thanks! I am happy to
          stay a basic member. Take
          me to the free web version at
          www.not4dating.com.</span></a>
      </div>
    </div>


</ion-content>
