.welcome-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: 0px 2em;
    /* margin-top: 6em; */
    height: 100vh;
}
p.welcome-content-Para {
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}
.blue-button {
    background-color: #4472C4;
    padding: 0.6em;
    border-radius: 7px;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
font-size: 19px;
    margin: 1em 0px;
    font-weight: 200;
}
.green-button {
    background-color: green;
    padding: 0.6em;
    border-radius: 7px;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 200;
    margin: 1em 0px;
}
.alreday-member {
    text-align: center;
    font-size: 20px;
    color: red;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0.7em;
    font-weight: 200;
}

.background
{
    background-color: #0e0d0d29;
    margin-top: 4em;
    background-size: cover;
    background-position: center;
   
    overflow-x: auto;
}
.card-content-font
{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 20px;
    text-align: center;
  color: #707070;

}
.card-one{
    border: 1px solid #707070;
    margin: 1.5em;
    margin-top: 7vh;

}
.tittle-card
{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: #707070;
    padding: 1em;
}
form.form-fields{
    margin: 2em;
}
input#fname {
    /* height: 6vh; */
    border-radius: 7px;
    height: 47px;
    margin-top: 15px;
    border: 1px solid;
    margin-bottom: 20px;

  }
  select#country {
    border-radius: 7px;
    height: 47px;
    margin-top: 15px;
    border: 1px solid;
    margin-bottom: 20px;
    width: 55%;
    font-size: 1em;
}
  .form-label {
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}
.form-label-country
{
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px;
}
button.button-common {
    height: 40px;
    padding: 0px 40px;
    border: 1px solid #707070;
    background-color:  #449D44;
    color: white;
    border-radius: 7px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
}
.search-country
{
    width: 100% !important;
    background-color: #F2F2F2;
}
.card-one {
    background-color: white !important;
  }
  .loading-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 9;
    background: black;
    opacity: 0.5;
  }
  img.cross-image {
    width: 9%;
    margin: 5px;
    float: right;
    z-index: 1000;
    position: relative;
}


.welcome {
    margin-top: 3em;
}
