<ion-header *ngIf="!isLoggedIn">
  <app-navigationbar></app-navigationbar>
</ion-header>
<div *ngIf="isLoading" class="loading-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<ion-content>

  <div class="not-loggeg-in-user" *ngIf="!isLoggedIn">
    <div class="welcome">
      <div class="welcome-content">
        <p class="welcome-content-Para">
          Welcome!
        </p>

        <p class="welcome-content-Para">
          We can help you make <u>platonic</u>
          connections in your local area.
        </p>


        <P class="welcome-content-Para">
          First, ONE BIG RULE:<br>

          Platonic = we will not help you
          find a date or sexual partners. No
          judgment if that is your goal, but
          kindly save your energy and use another app.

        </P>



        <div class="blue-button" (click)="popOpen()">
          Sounds Cool! Who can I meet?
        </div>

        <div class="green-button" routerLink="/signup">
          Awesome! Sign me up!

        </div>

        <div class="alreday-member" routerLink="/signin">
          I am already a member
        </div>
      </div>
    </div>
  </div>
</ion-content>

<div class="background-oops" *ngIf="hide">

  <ion-card class="card-one">
    <div class="cross-pop" (click)="closepop()">
      <img src="../../assets/Images/cross.png" class="cross-image">
    </div><br>

    <div class="search-container">
      <ion-card-content class="card-content-font">
        Oops! Looks like location targeting is
        turned off on your device. Either turn it on or
        input your postal code and country to see
        members in your area.
      </ion-card-content>

      <p class="tittle-card">Find Friends</p>
      <form class="form-fields">


        <div class="form-group">
          <label for="fname" class="form-label">ZIP/Postal Code</label><br>
          <input type="text" class="form-control" id="usr" placeholder="Postcode" name="post"
            class="form-field-zip-code" [(ngModel)]="post">

        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <select class="form-control" id="country" name="live" [(ngModel)]="countryCode">
            <option value="Australia">Australia</option>
            <option value="Canada">Canada</option>
            <option value="India">India</option>
            <option value="New Zealand">New Zealand</option>
            <option value="Singapore">Singapore</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="United States" selected="selected">United States</option>

          </select>
          <span class="under-text"></span>
        </div>


        <br>
        <div class="button-container">
          <button type="button" class="button-common" (click)="postcodeManuallyEnter(post, countryCode)">Search</button>
        </div>
      </form>


    </div>

  </ion-card>
</div>



<!--Serach Result-->
<div class="serach-result" *ngIf="searchresult">
  <div class="background">
    <div class="tittle-home-page">
      <ion-card-subtitle class="tittle-home">Members near you</ion-card-subtitle>
      <img src="../../assets/Images/crosspop.png" class="cross-pop-button" (click)="closesearchpop()">
    </div>


    <div class="member-cards" *ngFor="let posts of  searchResponse" (click)="chcekLoggedIn()">

      <div class="member-card-image" *ngFor="let posts of  searchResponse.m">
        <img src="{{posts.Picture}}" alt="" srcset="" class="user-image" >

      </div>
      <div class="member-card-text">
        <div class="badage-name">
          <div class="name card-item">{{posts.name}} </div>
          <div class="parent-badge">

            <ion-badge slot="end" color="medium" *ngIf="posts.Pets.length==0" class="badge-font">Parent
            </ion-badge>
            <ion-badge slot="end" color="medium" *ngIf="posts.Pets.length>0" class="badge-font">Pet Owner</ion-badge>
          </div>
        </div>

        <div class="activity-container">
          <div class="left-heading ">Activities: {{posts.Activity}}</div>
          <div class="right-heading"></div>
          <div class="badage-container">
            <ion-badge slot="end" color="medium">{{posts.Activity.length}}</ion-badge>
          </div>
        </div>

        <div class="distance-container">
          <div class="distance card-item">Distance:</div>
          <!-- <div class="distance-ouput">{{posts.distance| number:'1.1-1'}}Miles </div> -->
        </div>
      
      </div>
 

    </div>

    <button #getMoreUsers *ngIf="matchLevel <= 3" class="showMore" (click)="getSearchData()">Show More</button>
  </div>
</div>



<div class="no-result-found" *ngIf="noResult">

  <div class="popup-no-result">
    <div class="no-result-background">
      <div class="crosss-sign" (click)="closesearchpop()">
        <img src="../../assets/Images/cross.png" class="cross-image">
      </div>
      <div class="no-result-popup-content">
        Looks like we have not yet expanded to your area. Click here to suggest that we come to you next!<br>
        <span (click)="openEmailcomposer()">Click here </span>to suggest that we come to you next
      </div>

    </div>
  </div>
</div>