<div *ngIf="isLoading" class="loading-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<ion-content>
  <div class="welcome">
    <div class="welcome-content">
      <p class="welcome-content-Para">
        Welcome!
      </p>

      <p class="welcome-content-Para">
        We can help you make <u>platonic</u>
        connections in your local area.
      </p>


      <P class="welcome-content-Para">
        First, ONE BIG RULE:<br>

        Platonic = we will not help you
        find a date or sexual partners. No
        judgment if that is your goal, but
        kindly save your energy and use another app

      </P>



      <div class="blue-button" (click)="popOpen()">
        Sounds Cool! Who can I meet?
      </div>

      <div class="green-button" routerLink="/signup">
        Awesome! Sign me up!

      </div>


      <div class="alreday-member" routerLink="/signin">
        I am already a member
      </div>
    </div>









  </div>

</ion-content>

<div class="background-oops" *ngIf="popup">

  <ion-card class="card-one">
    <div class="cross-pop" (click)="closepop()">
      <img src="../../assets/Images/cross.png" class="cross-image">
    </div><br>













<div class="search-container" >
    <ion-card-content class="card-content-font">
      Oops! Looks like location targeting is
      turned off on your device. Either turn it on or
      input your postal code and country to see
      members in your area.
    </ion-card-content>

    <p class="tittle-card">Find Friends</p>
    <form class="form-fields">

      
      <div class="form-group">
        <label for="fname" class="form-label">ZIP/Postal Code</label><br>
        <input type="text" class="form-control" id="usr" placeholder="Postcode" name="post" class="form-field-zip-code" [(ngModel)]="post">
  
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <select class="form-control" id="country" name="live" > 
          <option value="au" >Australia</option>
          <option value="ca">Canada</option>
          <option value="in">India</option>
          <option value="nz">New Zealand</option>
          <option value="sg">Singapore</option>
          <option value="gb">United Kingdom</option>
          <option value="us" selected="selected">United States</option>

        </select>
        <span class="under-text"></span>
      </div>

    
      <br>
      <div class="button-container">
        <button type="button" class="button-common" routerLink="/search-result/{{post}}">Search</button>
      </div>
    </form>


  </div>

  </ion-card>
</div>



<!--Serach Result-->
<div class="serach-result" *ngIf="searchresult">
  <div class="background">
    <div class="tittle-home-page">
      <ion-card-subtitle class="tittle-home">Members near you</ion-card-subtitle>
      <img src="../../assets/Images/crosspop.png" class="cross-pop-button" (click)="closesearchpop()">
    </div>
  
  
    <div class="member-cards" *ngFor="let posts of  searchResponse"
      routerLink="/detail/{{posts.name}}/{{posts.mail}}/{{posts.uid}}">
  
  
      <div class="member-card-image">
  
        <img src="{{posts.Picture}}" alt="" srcset="" class="user-image">
      
      </div>
      <div class="member-card-text">
        <p class="name card-item">{{posts.name}}<ion-badge slot="end" color="light" >Parent
          </ion-badge>
          <ion-badge slot="end" color="light" >Pet Owner</ion-badge>
        </p>
        <ion-label class="hobbies card-item "><span
            class="left-heading">Activities:&nbsp;</span>{{posts.Activity | slice:3:5}} </ion-label>
        <ion-badge slot="end" color="light">{{posts.Activity.length}}</ion-badge><br> 
        <!-- <ion-label class="hobbies card-item" ><span class="left-heading">Activities:</span>{{posts.Activity | slice:-2:-1}}</ion-label>
      <ion-badge slot="end"  color="light"></ion-badge> -->
        <p class="distance card-item"><span class="left-heading">Distance:</span>1 miles away</p>
      </div>
    </div>
    <button *ngIf="currPage.length == 25" class="showMore" (click)="getSearchData()">Show More</button>
  </div>

</div>