<div *ngIf="isLoading" class="loading-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<ion-content>
<div class="welcome">
 <div class="welcome-content">
   <p class="welcome-content-Para">
   Welcome
  </p>

<p class="welcome-content-Para">
  We can help you make platonic
  connections in your local area.
</p>


<P class="welcome-content-Para">
  First, ONE BIG RULE:

  Platonic = we will not help you
  find a date or sexual partners. No
  judgment if that is your goal, but
  kindly save your energy and use another app

</P>



<div class="blue-button"  (click)="popOpen()">
  Sound Cool! Who can I meet?
</div>

<div class="green-button">
  Awesome! Sign me up!

</div>


<div class="alreday-member">
  I am already a member
</div>
 </div>









</div>

</ion-content>

<div class="background" *ngIf="popup">

  <ion-card class="card-one" >
    <div class="cross-pop" (click)="closepop()">
      <img src="../../assets/Images/cross.png" class="cross-image">
    </div><br>
    <ion-card-content class="card-content-font">
      Location targeting is turned off on your device. Please provide the following details to see members in your area.
      Postal code and Country. Search button will say find friends.
    </ion-card-content>

    <p class="tittle-card">Find Friends</p>
    <form class="form-fields">
      <label for="fname" class="form-label">ZIP/Postal Code</label><br>
      <input type="text" id="fname" name="post" class="form-field-zip-code" [(ngModel)]="post"><br>

      <label class="form-label-country">Country</label><br>
      <select id="country" class="country-field">
        <option value="United States">United States</option>
        <option value="USA">USA</option>
        <option value="Dubai">Dubai</option>
        <option value="India">India</option>
      </select>
      <br>
      <div class="button-container">
        <button type="button" class="button-common" 
          routerLink="/search-result/{{post}}">Search</button>
      </div>
    </form>



    <p class="tittle-card">Can’t find your
      country ?
      Send us a message here and we will add it
    </p>

    <form class="form-fields">

      <label class="form-label-country form-label">Country</label><br>
      <select id="country" class="country-field search-country">
        <option value="country">Country</option>
        <option value="USA">USA</option>
        <option value="Dubai">Dubai</option>
        <option value="India">India</option>
      </select>
      <br>
      <label for="fname" class="form-label">Postcode</label><br>
      <input type="text" id="fname" name="fname" class="form-field-zip-code search-country"><br>


      <div class="button-container">
        <button type="button" class="button-common">Submit</button>
      </div>
    </form>
  </ion-card>


</div>