.main-New-message-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0em 2em;
    align-items: center;
    /* width: 100%; */
    overflow: hidden;
}
.form-group {
    margin-bottom: 1rem;
    width: 100%;
}
.loading-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 9;
    background: black;
    opacity: 0.5;
  }
  .back-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-back-button {
    width: 100vw;
    margin-bottom: 1em;
}
.send-button {
    width: 100vw;
}
.button-align {
    /* display: flow-root; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17vh;
}