<ion-header>
  <app-navigationbar></app-navigationbar>
</ion-header>


<ion-content>
  <div class="main-sign-up">
    <mat-tab-group class="mat-background" [(selectedIndex)]="selectedIndex">

      <mat-tab>
        <div class="progree-container">
          <div class="progress">
            <div class="progress-bar" style="width:20%"></div>
          </div>
        </div>
        <div class="forms-field">


          <div class="form-group">
            <label for="usr">What do you like to do for fun?</label>
            <div class="form-check">
              <label class="form-check-label" for="check1">
                <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something"
                  checked>Option 1
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label" for="check2">
                <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Option 2
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">Option 3
              </label>
            </div>
          </div>


          <div class="form-group">
            <label for="usr">How long have you lived here?</label>
            <select class="form-control" id="sel1" name="long" [(ngModel)]="live">
              <option value="0"> < 2 years</option> 
              <option value="1">2-5 years </option>
              <option value="2">>5 years</option>
            </select>
          </div>


         <div class="ionic-dropdowns">
     
          <label class="label-ionic-dropdown">My friends and I usually talk about</label>
          <ion-item class="usually-dropdown">
            <ion-label></ion-label>
            <ion-select multiple="true" cancelText="Close" okText="Okay" name="talkabout" [(ngModel)]="talkabout" class="ion-select-option-setting">

              <ion-select-option value="Work" #Work>Work
              </ion-select-option>
              <ion-select-option value="Family" #Family>Family</ion-select-option>
              <ion-select-option value="Relationships" #Relationships>Relationships
              </ion-select-option>
              <ion-select-option value="Gossip" #Gossip>Gossip</ion-select-option>
              <ion-select-option value="Fashion" #Fashion>Fashion</ion-select-option>
              <ion-select-option value="Sports" #Sports>Sports</ion-select-option>
              <ion-select-option value="Other" #Other>Other</ion-select-option>
            </ion-select>
          </ion-item>
        </div>


        <label class="label-ionic-dropdown mt-4">A Good Friend Is Someone Who...</label>
          <ion-item class="usually-dropdown mb-4">

            <ion-label></ion-label>
            <ion-select multiple="true" cancelText="Close" okText="Okay" name="goodFriend" [(ngModel)]="goodFriend">

              <ion-select-option value="is always there for me." #always>is always there for me.
              </ion-select-option>
              <ion-select-option value="Family" #Family>Family</ion-select-option>
              <ion-select-option value="always sides with me no matter what." #sides>always sides with me no matter
                what.
              </ion-select-option>
              <ion-select-option value="will be honest with me even if it hurts." #hurts>will be honest with me even if
                it hurts.</ion-select-option>
              <ion-select-option value="gives advice" #advice>gives advice</ion-select-option>
              <ion-select-option value="takes my advice." #takes>takes my advice.</ion-select-option>
              <ion-select-option value="is an activity partner." #partner>is an activity partner.</ion-select-option>
            </ion-select>
          </ion-item>


          <div class="form-group">
            <label for="usr">When someone cancels plans we made </label>
            <select class="form-control" id="sel1" name="cancels" [(ngModel)]="cancels">
              <option value="My reaction depends on the reason why.">My reaction depends on the reason why.</option>
              <option value="I think no big deal">I think no big deal</option>
              <option value="It really bothers me and I am wary of the friendship.">It really bothers me and I am wary
                of the friendship.</option>
              <option
                value="I’m generally understanding, but I can only be blown off so many times before I will start to question the friendship.">
                I’m generally understanding, but I can only be blown off so many times before I will start to question
                the friendship.</option>
            </select>
          </div>

          <div class="continue-button" (click)="nextStep()" >
            Continue
          </div>

        </div>
      </mat-tab>

      <mat-tab>
        <div class="progree-container">
          <div class="progress">
            <div class="progress-bar" style="width:80%"></div>
          </div>
        </div>

        <div class="forms-field">
          <div class="form-group">
            <label for="sel1">Are you in a relationship? </label>
            <select class="form-control" id="sel1" name="status" [(ngModel)]="status">
              <option>Yes</option>
              <option>No</option>
              <!-- <option>Single</option>
              <option>Married</option>
              <option>Co-Habitating</option>
              <option value="Significant Other But Not Living Together">Significant Other But Not Living Together
              </option>
              <option value="Divorced">Divorced</option>
              <option value="Widowed">Widowed</option>
              <option value="Engaged">Engaged</option> -->

            </select>
          </div>


          <div class="blue-button-second-tab" (click)="Alert()">
            Why do we ask this if its
            not for dating or sex?
          </div>


          <div class="form-group">
            <label for="sel1">Do you have kids?</label>
            <select class="form-control" id="sel1">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>

          <label class="label-ionic-dropdown mt-4">Do You Have Pets?</label>
          <ion-item class="usually-dropdown mb-4" no-lines>

            <ion-label></ion-label>
            <ion-select multiple="true" cancelText="Close" okText="Okay" name="pets" [(ngModel)]="pets" no-lines>
              <ion-select-option value="Dog" #Dog>Dog
              </ion-select-option>
              <ion-select-option value="Cat" #Cat>Cat</ion-select-option>
              <ion-select-option value="Rabbit" #Rabbit>Rabbit
              </ion-select-option>
              <ion-select-option value="Birds" #Birds>Birds</ion-select-option>
              <ion-select-option value="Fish" #Fish>Fish</ion-select-option>
              <ion-select-option value="Reptile" #Reptile>Reptile</ion-select-option>
              <ion-select-option value="Other" #Other>Other</ion-select-option>
            </ion-select>
          </ion-item>




          <div class="form-group">
            <label for="sel1">I spend my days…</label>
            <textarea class="form-control" rows="5" id="usr" name="spend" [(ngModel)]="spend"></textarea>
          </div>

          <div class="form-group">
            <label for="sel1">I also speak</label>
            <input type="text" class="form-control" id="usr" name="speak" [(ngModel)]="speak">
          </div>
          <div class="continue-button"  (click)="nextStep()">
            Continue
          </div>
          <div class="previous-button" (click)="previousStep()">
            Previous
          </div>



        </div>
      </mat-tab>



      <mat-tab>
        <div class="progree-container">
          <div class="progress">
            <div class="progress-bar" style="width:85%"></div>
          </div>
        </div>
        <div class="forms-field">
          <div class="form-group">
            <label for="sel1">Do you smoke?</label>
            <select class="form-control" id="sel1" name="smoke" [(ngModel)]="smoke">
              <option value="Never">Never</option>
              <option value="Rarely">Socially</option>
              <option value="Yes">Yes</option>
              <!-- <option value="Couple Times a Week">Couple Times a Week</option>
              <option value=" Every Day"> Every Day</option> -->

            </select>
          </div>

          <div class="form-group">
            <label for="sel1">How about drinking alcohol? </label>
            <select class="form-control" id="sel1" name="alcohol" [(ngModel)]="alcohol">

              <option value="Never">Never</option>
              <option value="Rarely">Rarely</option>
              <option value="Weekends Only">Weekends Only</option>
              <option value="Couple Times a Week">Couple Times a Week</option>
              <option value=" Every Day"> Every Day</option>
            </select>
          </div>


          <!-- <div class="form-group">
            <label for="sel1">Education Level</label>
            <select class="form-control" id="sel1" name="education" [(ngModel)]="education">

              <option value="_none">- None -</option>
              <option value="Less Than High School Diploma">Less Than High School Diploma</option>
              <option value="High School Diploma">High School Diploma</option>
              <option value="Some College/Technical School">Some College/Technical School</option>
              <option value="Associates Degree">Associates Degree</option>
              <option value="Technical School Degree">Technical School Degree</option>
              <option value="College Degree">College Degree</option>
              <option value="Graduate Degree">Graduate Degree</option>
            </select>
          </div> -->


          <div class="form-group">
            <label for="sel1">Favorite Books</label>
            <textarea class="form-control" rows="5" id="usr" name="books" [(ngModel)]="books"></textarea>
          </div>

          <div class="form-group">
            <label for="sel1">Favorite Movies</label>
            <textarea class="form-control" rows="5" id="usr" name="movies" [(ngModel)]="movies"></textarea>
          </div>

          <div class="form-group">
            <label for="sel1">Favorite TV Shows</label>
            <textarea class="form-control" rows="5" id="usr" name="shows" [(ngModel)]="shows"></textarea>
          </div>

          <div class="form-group">
            <label for="sel1">Favorite Music</label>
            <textarea class="form-control" rows="5" id="usr" name="music" [(ngModel)]="music"></textarea>
          </div>

       


        </div>
        <div class="continue-button"  (click)="nextStep()">
          Continue
        </div>
        <div class="previous-button" (click)="previousStep()">
          Previous
        </div>

      </mat-tab>




      <mat-tab>
        <div class="progree-container">
          <div class="progress">
            <div class="progress-bar" style="width:100%"></div>
          </div>
        </div>
        <div class="forms-field">
          <form  (ngSubmit)="submit(fileSource)" >
            <div class="form-group">
              <label for="file">File</label>
              <input 
          
                  id="file" 
                  type="file" 
                  class="form-control"
                  multiple="" 
                  (change)="onFileChange($event)">
            
          </div>
       <div class="image-conatiner">
         <div class="sub-image-container" *ngFor='let url of images' >
          <img  [src]="url.uri" height="150" width="200px" style="margin: 3px;" class="images-uploaded" ><br/> 
        <p style="text-align:center">{{url.name}}</p>

         </div>
        
            
           
        </div>
          <button class="btn btn-primary" type="submit">Submit</button>
      </form>
  
          

          <div class="form-group">
            <label for="comment">Anything else you want to share?</label>
            <textarea class="form-control" rows="5" id="comment" name="anything" [(ngModel)]="anything"></textarea>
          </div>
          <div class="continue-button"  (click)="optionDetail(live,talkabout,goodFriend,cancels,status,pets,spend,speak,smoke,alcohol,education,books,movies,shows,music,anything)">
            Complete
          </div>
          <div class="previous-button" (click)="previousStep()">
            Previous
          </div>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>

</ion-content>