<ion-content class="background-card">
  <div class="background" *ngIf="search">
    <div class="forms-field">
      <div class="form-group">
        <label for="sel1">Show me:</label>
        <select class="form-control" id="sel1" name="gender" [(ngModel)]="gender">
          <option value="Male"> Male</option>
          <option value="Female">Female</option>
          <option value="Gender Diverse" selected="selected">Gender Diverse</option>
         
        </select>
        <span class="under-text"></span>
      </div>


      <label for="age">Aged</label>
      <div class="dropdown-aged">
        <div class="form-group">

          <select class="form-control" id="age">
            <option>20</option>
            <option>25</option>
            <option>30</option>
          </select>
        </div>
        <span class="to">To</span>
        <div class="form-group">

          <select class="form-control" id="age">
            <option>20</option>
            <option>25</option>
            <option>30</option>
          </select>
        </div>

      </div>


      <label for="age">Within</label>
      <div class="dropdown-aged">
        <div class="form-group">

          <select class="form-control" id="age">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
        <span class="to">miles/km</span>
      </div>
      <label for="age">of me, who are looking for</label>
      <div class="form-group">
        <select class="form-control" id="sel1" name="meet" [(ngModel)]="meet">
          <option value="1">A few goods friends</option>
          <option value="2">A lot of accquaintances</option>
          <option value="3">No preference</option>


        </select>
        <span class="under-text"></span>
      </div>
      <div class="form-group">
        <label for="usr">And Likes</label>
          <select class="form-control" id="sel1" name="activity" [(ngModel)]="activity">
            <option value="yoga" #yogas>yoga</option>
            <option value="playdates (parents and children)" #playdatess>playdates (parents and children)
            </option >
            <option value="happy hour/cocktails/beers" #beers>happy hour/cocktails/beers
            </option >
            <option value="sightseeing" #sightseeings>sightseeing</option >
            <option value="artsy stuff (making or looking at)" #artsy>artsy stuff (making or looking at)
            </option >
            <option value="cooking" #cook>cooking</option >
            <option value="dancing" #dancing>dancing</option >
            <option value="people watching" #watching>people watching</option >
            <option value="video games" #games>video games</option >
            <option value="traveling/vacations" #traveling>traveling/vacations</option >

            <option value="history buff" #history>history buff</option >
            <option value="board games" #board>board games</option >
            <option value="sports (playing)" #sports>sports (playing)</option >
            <option value="mom's/dad's night out w/o kids" #mom>mom's/dad's night out w/o kids
            </option >
          </select>
    
      </div>
      <div class="form-group">
        <label for="age">Sort By</label>
        <select class="form-control" id="sel1">
          <option>Best Match</option>
          <option>Recent Logins</option>
          <option>Newest Members</option>
        </select>
      </div>
    </div>



    <div class="continue-button" (click)="searchResult()">
      Find Friends
    </div>

    <div class="alreday-member">
      Reset Filter
    </div>
  </div>


  <div class="background" *ngIf="searchitem">

  





    <div class="members-grid" *ngFor="let result of searchResults" (click)="userDetails()" routerLink="/popup/{{result.Uid}}">

      <div class="photo-member-grid">
        <img src="../../assets/Images/p1.jpg" class="image-profile">

      </div>

      <div class="data-member-grid">
        <p class="name card-item">{{result.name}}</p>
        <ion-label class="hobbies card-item "><span class="left-heading">Activities:&nbsp;</span>{{result.Activities | slice:3:5}}
        </ion-label>
        <p class="distance card-item"><span class="left-heading">Distance:</span>1 miles away</p>

      </div>

    </div>

    

  </div>

<div class="popup-chat-page" *ngIf="chatpage">
<p class="pop-up chat-page-text">Hello!  What are you currently reading or listening to?  </p>
<p class="pop-up chat-page-text">Hey there!  What is one thing that always makes you laugh or puts a smile on your face? </p>
<p class="pop-up chat-page-text">Hiyah!  What is one thing you are looking forward to in the next few months and wouldn’t miss for the world?  
</p>
<p class="pop-up chat-page-text">Hi! What did you do on your best day ever?</p>
<p class="pop-up chat-page-text">Helloooo!  What is the best gift you have ever given?   </p>


<div class="form-group">
  <input type="text" class="form-control" id="usr">
</div>

<div class="continue-button" (click)="sendMsg()">
  Send
</div>
</div>

























<!--Modal-->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
   
        
        <!-- Modal body -->
        <div class="modal-body">


          
          <div class="modal-grid">
       
               <div class="profile-picture-modal">
                <img src="../../assets/Images/p1.jpg" class="image-profile">

               </div>

               <div class="profile-name-modal">
                 <span class="name">{{name}}</span>
                 <span class="not-verified">Verified</span>

              </div>

          </div>

<div class="siderbar-icon-data">
  <div class="side-bar-icon">
    <div class="group-text-image">
   <img src="../../assets/Images/popchat.png" class="chat-bubble" data-dismiss="modal" (click)="chatOpenPage()">
   <span class="name-icon">Chat</span>
  </div>
  <div class="group-text-image">
   <img src="../../assets/Images/star.png" class="chat-bubble">
   <span class="name-icon">Favorite</span>
  </div>
  <div class="group-text-image">
   <img src="../../assets/Images/sign.png" class="chat-bubble" data-dismiss="modal">
  </div>
<div class="group-text-image mt-3">
  <span class="name-icon">Never See again</span>
  <img src="../../assets/Images/feeling.png" class="chat-bubble mb-3">
</div>

<div class="group-text-image">
   <span class="name-icon">Report to admin</span>
  </div>
  </div>
<div class="sidebar-content">
<p class="detail-data">FullName:<br><span class="output-text">Lorem10</span></p>
<p class="detail-data">Activities:<br><span class="output-text">Lorem,lorem,lorem...</span></p>
<p class="detail-data">Favorate Music:<br><span class="output-text">English,Punjabi..</span></p>
<p class="detail-data">Favorate Show:<br><span class="output-text">Big Bang.</span></p>
<p class="detail-data">Languages:<br><span class="output-text">Hindi,English</span></p>
</div>
</div>











        </div>
        
      
        
      </div>
    </div>
  </div>

</ion-content>