<div  *ngIf="isLoading" class="loading-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>




<div class="modal-body" >
    <div class="continue-button" routerLink="/edit-profile" (click)="onConfirmClick()">
      View/Edit Profile
    </div>
    <div class="continue-button" routerLink="/account-setting" (click)="onConfirmClick()">
      Account Settings
    </div>
    <div class="continue-button" routerLink="/blockedusers" (click)="onConfirmClick()">
      Blocked Users
    </div>

    
    <div class="logout-text-container" (click)="logOut()" >
      <span class="log-out-text">Log Out</span>
    </div>

  </div>