

<div class="background">


  <ion-card class="main-register-card">
    <form>
      <mat-tab-group class="mat-background" [(selectedIndex)]="selectedIndex">

        <mat-tab>
          <ion-progress-bar value="0.0"></ion-progress-bar>
          <div class="card-one-white ">
            <p class="register-with-us">Register with us</p>
            <div class="social-button">
              <button type="button" class="btn btn-primary-google"><i
                  class="fab fa-google-plus-square google"></i>Continue with Google</button>
              <button type="button" class="btn btn-primary facebook"><i class="fab fa-facebook-square"></i>Login with
                Facebook</button>
            </div>

            <div class="form-fields">
              <p class="or-text">OR</p>

              <label for="name" class="form-label">Username</label><br>
              <input type="text" id="name" name="name" class="form-field-zip-code search-country"
                [(ngModel)]="name"><br>

              <label for="name" class="form-label">Email</label><br>
              <input type="text" id="email" name="email" class="form-field-zip-code search-country"
                [(ngModel)]="email"><br>

              <label for="name" class="form-label">Confirm Email</label><br>
              <input type="text" id="email" name="confirmemail " class="form-field-zip-code search-country"
                [(ngModel)]="confirmemail"><br>

              <!-- <label for="name" class="form-label">Password</label><br>
            <input type="text" id="password" name="password" class="form-field-zip-code search-country"><br>
            <label for="name" class="form-label">Confirm Password</label><br>
            <input type="text" id="confirmpassword" name="confirmpassword"
              class="form-field-zip-code search-country"><br> -->
            </div>

            <div class="button-container">
              <button type="button" class="button-common" (click)="nextStep()">Next</button>
            </div>

            <div class="having-trouble">

              <p class="text-having-trouble">'Having trouble registering?'</p>
              <img src="../../assets/Images/chat.png" class="chat-image">
            </div>






          </div>

        </mat-tab>
        <mat-tab>
          <ion-progress-bar value="0.5"></ion-progress-bar>
          <div class="card-one-white">
            <div class="upload-card-register">
              <div class="profile-heading">
                <p class="profile-card-title">Picture</p>
              </div>
              <div class="upload-content">
                <p class="upload-text">Please upload up to 3 pictures.Drag pictures to reorder them.The first picture
                  will
                  be used as your profile picture.</p>
                <p class="addnew">Add a new file</p>

                <input type="file" id="myFile" name="filename" class="input-choose">
                <button type="button" class="btn btn-success"> <i class="fas fa-arrow-circle-up"></i>Upload</button>

                <button type="button" class="btn btn-success">Add Another</button>

                <p class="terms">
                  *You can add up till 10 images<br>
                  Files must less than 2 MB<br>
                  Allowed file types png gif jpg jpeg<br>
                  Images must be smaller than 1024x768 pixels</p>
              </div>
            </div>
            <div class="form-fields">
              <label for="name" class="form-label">First Name</label><br>
              <input type="text" id="name" name="firstname" class="form-field-zip-code search-country"
                [(ngModel)]="firstname"><br>


              <label for="name" class="form-label">Last Name</label><br>
              <input type="text" id="lname" name="lastname" class="form-field-zip-code search-country"
                [(ngModel)]="lastname"><br>

              <label for="name" class="form-label">Zip Code/Postal Code</label><br>
              <input type="text" id="zipcode" name="zipcode" class="form-field-zip-code search-country"
                [(ngModel)]="zipcode"><br>

              <label for="dateofbirth">Date Of Birth</label><br>
              <input type="date" name="DOB" id="dateofbirth" class="form-field-zip-code search-country"
                [(ngModel)]="DOB"><br>
             

              <label class="form-label">Gender</label><br>
              <select id="Gender" class="country-field search-country" name="gender" [(ngModel)]="gender">
                <option value="Anyone">Anyone</option>
                <option value="Male"> Male</option>
                <option value="Female">Female</option>
                <option value="Gender Diverse">Gender Diverse</option>
              </select>


              <label for="name" class="form-label">Zip Code/Postal Code</label><br>
              <input type="text" id="zipcode" name="zipcode" class="form-field-zip-code search-country"
                [(ngModel)]="zipcode"><br>


                
              <label class="form-label">country</label><br>
              <select id="country" class="country-field search-country" name="country" [(ngModel)]="country">
                <option value="au">Australia</option>
                <option value="ca">Canada</option>
                <option value="in">India</option>
                <option value="nz">New Zealand</option>
                <option value="sg">Singapore</option>
                <option value="gb">United Kingdom</option>
                <option value="us" selected="selected">United States</option>
              </select>

          



              <label class="form-label">Select Activities/Interests</label><br>

              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="yoga" #yogas>yoga
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="playdates (parents and children)"#playdatess>playdates (parents and children)
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="sightseeing" #sightseeings>sightseeing
                </label>
              </div>
        

              <label class="form-label">I m Looking to meet</label><br>
              <select id="meet" class="country-field search-country" name="meet" [(ngModel)]="meet">
                <option value="3">Does not matter</option>
                <option value="1">A few goods friends</option>
                <option value="2">A lot of accquaintances</option>
           
              </select>


            

              <label class="form-label">I Want To Be Contacted By*</label><br>
              <select id="contracted" class="country-field search-country"  name="contracted" [(ngModel)]="contracted">
                <option value="0">Either one</option>
                <option value="1">Female only</option>
                <option value="2">Male only</option>
           
              </select>
         




              <label class="form-label">Terms & Conditions</label><br>
              <div class="condition-text-container">
                <p class="condition-text">

                  This Terms of Use (“Agreement”) is a legally binding agreement made by and between Not 4 Dating, LLC
                  (“N4D”) and you, personally and, if applicable, on behalf of the entity for whom you are using this
                  web
                  site (collectively, “you”). This Agreement governs your use of the not4dating.com web site (the
                  “Site”)
                  and the services offered by N4D on the Site (the “Services”), so please read it carefully.

                  BY CLICKING THE “I AGREE” BUTTON OR ACCESSING OR USING ANY PART OF THE SITE, YOU AGREE THAT YOU HAVE
                  READ, UNDERSTAND AND AGREE TO BE BOUND BY THIS AGREEMENT AND THE TERMS AND CONDITIONS REFERENCED
                  HEREIN,
                  WHETHER OR NOT YOU REGISTERED AS A MEMBER. IF YOU DO NOT AGREE TO BE SO BOUND, DO NOT ACCESS OR USE
                  THE
                  WEB SITE. INTERNET TECHNOLOGY AND THE APPLICABLE LAWS, RULES, AND REGULATIONS CHANGE FREQUENTLY.
                  ACCORDINGLY, N4D RESERVES THE RIGHT TO MAKE CHANGES TO THIS AGREEMENT AT ANY TIME. YOUR CONTINUED USE
                  OF
                  THE SITE AND SERVICES CONSTITUTES ASSENT TO ANY NEW PROVISION OF THIS AGREEMENT THAT MAY BE POSTED ON
                  THE WEB SITE.

                  You must be at least eighteen (18) years of age to register with the Site or use the Site. By using
                  the
                  Site, you represent and warrant that you have the right, authority and capacity to enter into this
                  Agreement and to abide by all of the terms and conditions of this Agreement.

                  This Agreement will remain in full force and effect while you use the Site and/or are registered with
                  the Site.

                  Representations and Warranties.
                  Each party represents and warrants to the other party: (i)that it has the full power and authority to
                  enter into and perform its obligations under this Agreement; (ii)the assent to and performance by it
                  of
                  its obligations under this Agreement do not constitute a breach of or conflict with any other
                  agreement
                  or arrangement by which it is bound, or any applicable laws, regulations or rules; and (iii)this
                  Agreement contains legal, valid and binding obligations of the parties executing or assenting to this
                  Agreement, enforceable in accordance with its terms and conditions.
                  You represent and warrant to N4D that: (i)you will not infringe the patent, copyright, trademark,
                  trade
                  secret, right of publicity or other right of any third party in your use of the Site and (ii)you will
                  comply with all applicable laws, rules and regulations in your use of the Site.

                  Prohibited Conduct
                  In your use of the Site, you may not: (i)infringe any patent, trademark, trade secret, copyright,
                  right
                  of publicity or other right of any party; (ii)disrupt or interfere with the security or use of the
                  Site
                  or any web sites linked to the Site; (iii)interfere with or damage the Site, including, without
                  limitation, through the use of viruses, cancel bots, Trojan horses, harmful code, flood pings, denial
                  of
                  service attacks, packet or IP spoofing, forged routing or electronic mail address information, or
                  similar methods or technology; (iv)attempt to use another’s user name or password, impersonate another
                  person or entity, misrepresent your affiliation with a person or entity, including without limitation
                  N4D, or use a false identity; (v)attempt to obtain unauthorized access to the Site or portions of the
                  Site that are restricted from general access; (vi)engage, directly or indirectly, in transmission of
                  “spam,” chain letters, junk mail or any other type of unsolicited solicitation; (vii)collect, manually
                  or through an automatic process, information about other users without their express consent or other
                  information relating to the Site; (viii)submit false or misleading information to N4D; (ix)engage in
                  any
                  activity that interferes with any third party’s ability to use or enjoy the Site; or (x)assist any
                  third
                  party in engaging in any activity prohibited by this Agreement.

                  Privacy Policy
                  You agree to the terms of N4D’s Privacy Policy, which is incorporated by reference into this
                  Agreement.

                  Intellectual Property
                  All materials on the Site, including without limitation, the N4D logo, design, text, graphics, other
                  files, and the selection and arrangement thereof are either owned by N4D or are the property of N4D’s
                  suppliers or licensors. You may not use such materials without permission.

                  NOT4DATING™ and the NOT4DATING logo™ are trademarks owned by N4D. Page headers, custom graphics,
                  button
                  icons and scripts are trademarks or trade dress of N4D. You may not use any of these trademarks, trade
                  dress, or trade names without express permission of N4D. N4D will retain ownership of its intellectual
                  property rights and you may not obtain any rights therein by virtue of this Agreement or otherwise.

                  You will have no right to use, copy, display, perform, create derivative works from, distribute, have
                  distributed, transmit or sublicense from materials or content available on the Site. You may not use
                  any
                  third-party intellectual property without the express written permission of the applicable third
                  party,
                  except as permitted by law.

                  Content Posted by You
                  You will not post on the Site or transmit to N4D members, any obscene, abusive, harassing or illegal
                  material or any material that infringes or violates another party’s rights. You will not provide
                  misleading or false information to N4D or to other members. N4D may review and delete any content
                  which,
                  in N4D’s sole discretion, violates this Agreement or which might be offensive, illegal, or that might
                  violate the rights or threaten the safety of other members. By posting information on the Site, you
                  automatically grant to N4D an irrevocable, perpetual, non-exclusive, royalty-free, worldwide license
                  to
                  use the information and prepare derivative works thereof, and to grant and authorize sublicenses of
                  the
                  foregoing.

                  Linking and Framing
                  You may not deep link to password-protected portions of the Site; or frame, inline link, or similarly
                  display any N4D content or property, including, without limitation, the Site.

                  Confidentiality
                  You may obtain information that is confidential and proprietary to N4D. Such information
                  (“Confidential
                  Information”) may include, without limitation, consumer information, product information, marketing
                  information, and confidential communications from N4D. You shall keep all Confidential Information
                  confidential and not disclose it to any third party. Further, you shall not use the Confidential
                  Information for any purposes.

                  Indemnification
                  You agree to hold N4D and its employees, representatives, agents, attorneys, affiliates, directors,
                  employees, officers, managers and shareholders (the “Indemnified Parties”) harmless from any damage,
                  loss, cost or expense (including without limitation, attorneys’ fees and costs) incurred in connection
                  with any third-party claim, demand or action (“Claim”) brought or asserted against any of the
                  Indemnified Parties: (i)alleging facts or circumstances that would constitute a breach of any
                  provision
                  of this Agreement by you or (ii)arising from, related to, or connected with your use of the Site. If
                  you
                  are obligated to provide indemnification pursuant to this provision, N4D may, in its sole and absolute
                  discretion, control the disposition of any Claim at your sole cost and expense. Without limitation of
                  the foregoing, you may not settle, compromise or in any other manner dispose of any Claim without the
                  consent of N4D.

                  Disclaimers, Exclusions and Limitations
                  N4D PROVIDES THE ON AN “AS IS” AND “AS AVAILABLE” BASIS. N4D DOES NOT REPRESENT OR WARRANT THAT THE
                  SITE, ITS USE, OR ANY INFORMATION THEREFROM: (I)WILL BE UNINTERRUPTED, (II)WILL BE FREE OF DEFECTS,
                  INACCURACIES OR ERRORS, (III)WILL MEET YOUR REQUIREMENTS, OR (IV) WILL OPERATE IN THE CONFIGURATION OR
                  WITH OTHER HARDWARE OR SOFTWARE YOU USE.
                  N4D DOES NOT SCREEN ITS MEMBERS, CONDUCT BACKGROUND CHECKS ON ITS MEMBERS, OR CONFIRM THE ACCURACY OF
                  THE STATEMENTS OF ITS MEMBERS. N4D MAKES NO REPRESENTATIONS OR WARRANTIES REGARDING THE CONDUCT OF
                  MEMBERS. YOU AGREE TO TAKE REASONABLE PRECAUTIONS IN ALL INTERACTIONS WITH OTHER N4D MEMBERS

                  N4D MAKES NO WARRANTIES OTHER THAN THOSE MADE EXPRESSLY IN THIS AGREEMENT, AND HEREBY DISCLAIMS ANY
                  AND
                  ALL IMPLIED WARRANTIES, INCLUDING WITHOUT LIMITATION, WARRANTIES OF FITNESS FOR A PARTICULAR PURPOSE,
                  MERCHANTABILITY AND NON-INFRINGEMENT.
                  N4DWILL NOT BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY CONSEQUENTIAL, INCIDENTAL, INDIRECT, PUNITIVE
                  OR
                  SPECIAL DAMAGES (INCLUDING DAMAGES RELATING TO LOST PROFITS, LOST DATA OR LOSS OF GOODWILL) ARISING
                  OUT
                  OF, RELATING TO OR CONNECTED WITH THE USE OF THE SITE, BASED ON ANY CAUSE OF ACTION, EVEN IF ADVISED
                  OF
                  THE POSSIBILITY OF SUCH DAMAGES.

                  Limitation of Liability
                  EXCEPT FOR A BREACH OF A PARTY’S REPRESENTATIONS AND WARRANTIES OR IN CONNECTION WITH YOUR INDEMNITY
                  OBLIGATIONS UNDER THIS AGREEMENT, IN NO EVENT WILL THE LIABILITY OF EITHER PARTY IN CONNECTION WITH
                  THIS
                  AGREEMENT OR THE SITE EXCEED $100.

                  Force Majeure
                  N4D will not be liable for failing to perform under this Agreement by the occurrence of any event
                  beyond
                  its reasonable control, including, without limitation, a labor disturbance, an Internet outage or
                  interruption of service, a communications outage, failure by a service provider to N4D to perform,
                  fire,
                  terrorism, natural disaster or war.

                  Arbitration
                  All disputes arising out of or relating to this Agreement (including its formation, performance or
                  alleged breach) or your use of the Site will be exclusively resolved under confidential binding
                  arbitration held in New York, New York before and in accordance with the Rules of the American
                  Arbitration Association. The arbitrator’s award will be binding and may be entered as a judgment in
                  any
                  court of competent jurisdiction. To the fullest extent permitted by applicable law, no arbitration
                  under
                  this Agreement will be joined to an arbitration involving any other party subject to this Agreement,
                  whether through class arbitration proceedings or otherwise. Notwithstanding the foregoing, N4D will
                  have
                  the right to seek injunctive or other equitable relief in state or federal court located in New York,
                  New York to enforce this Agreement or prevent an infringement of a third party’s rights. In the event
                  equitable relief is sought, each party hereby irrevocably submits to the personal jurisdiction of such
                  court.

                  Waiver of Class Action Rights
                  By entering into this Agreement, you hereby irrevocably waive any right you may have to join claims
                  with
                  those of others in the form of a class action or similar procedural device. Any claims arising out of,
                  relating to, or connected with this Agreement must be asserted individually.

                  Limitation of Actions
                  You acknowledge and agree that, regardless of any statute or law to the contrary, any claim or cause
                  of
                  action you may have arising out of, relating to, or connected with your use of the Site must be filed
                  within one calendar year after such claim or cause of action arises, or forever be barred.

                  Changes to the Web Site or Service
                  N4D may, in its sole discretion, change, modify, suspend, make improvements to or discontinue any
                  aspect
                  of the Site, temporarily or permanently, at any time without notice to you, and N4D will not be liable
                  for doing so. Without limiting the foregoing, and notwithstanding anything contained in this
                  Agreement,
                  N4D will have the right from time to time to change the amount of the fees or institute new fees
                  relating to the Site. Further, N4D may impose limits on the amount of storage space for members, or
                  delete materials: (i)stored for an excessive period of time; (ii)that are out-of-date; or
                  (iii)relating
                  to an inactive member account.

                  Termination
                  N4D will have the right to terminate your account or your access to the Web Site if it reasonably
                  believes you have breached any of the terms and conditions of this Agreement or N4D discontinues the
                  Site.

                  Effect of Termination
                  If your account is terminated, N4D may delete any web sites, files, graphics or other content or
                  materials relating to your use of the Site on N4D’s servers or otherwise in its possession and N4D
                  will
                  have no liability to you or any third party for doing so. Following termination, you will not be
                  permitted to use the Site. If your account or your access to the Site is terminated, N4D reserves the
                  right to exercise whatever means it deems necessary to prevent unauthorized access to the Site,
                  including, but not limited to, technological barriers, IP mapping, and direct contact with your
                  Internet
                  Service Provider.

                  Survival
                  This Agreement will survive indefinitely unless and until N4D chooses to terminate it, regardless of
                  whether any account you open is terminated by you or N4D or if you have the right to access or use the
                  Site.

                  This Agreement contain the entire understanding of the you and N4D regarding you and N4D regarding the
                  use of the Site, and supersedes all prior and contemporaneous agreements and understandings between
                  you
                  and N4D regarding the use of the Site.

                  Notices and Electronic Communications
                  All notices required or permitted to be given under this Agreement will be in writing and delivered to
                  the other party by any of the following methods: (i)hand delivery, (ii)certified U.S. mail, return
                  receipt requested, postage prepaid, (iii)overnight courier, or (iv)electronic mail. If you give notice
                  to N4D, you must use the address shown on the Site. If N4D provides notice to you, it will use the
                  contact information provided by you to N4D. All notices will be deemed received and effective as
                  follows: (i)if by hand-delivery, on the date of delivery, (ii)if by delivery by U.S. mail, on the date
                  of receipt appearing on a return receipt card, (iii)if by overnight courier, on the date receipt is
                  confirmed by such courier service, or (iv)if by electronic mail, 24 hours after the message was sent,
                  if
                  no “system error” or other notice of non-delivery is generated. Each party agrees that any notice that
                  it receives from the other party electronically satisfies any legal requirement that such
                  communications
                  be in writing.
                </p>
              </div>
              <div class="chechk-box-terms">
                <mat-checkbox>I certify that I am at least 18 years of age *</mat-checkbox>
                <mat-checkbox>Accept Terms & Conditions of Use *</mat-checkbox>
              </div>
            </div>
            <div class="recaptcha">
              <re-captcha (resolved)="captchaResolved($event)" siteKey="6LeGsfYUAAAAAGFslGW89es1TIhNThrIq0bH5NKK">
              </re-captcha>

            </div>
            <div class="button-container">

              <button type="button" class="button-common button-prev" (click)="previousStep()">Previous</button>
              <button type="button" class="button-common" (click)="nextStep()">Next</button>
            </div>

            <div class="having-trouble">

              <p class="text-having-trouble">'Having trouble registering?'</p>
              <img src="../../assets/Images/chat.png" class="chat-image">
            </div>






          </div>

        </mat-tab>


        <mat-tab>
          <ion-progress-bar value="1"></ion-progress-bar>
          <div class="card-one-white">

            <form class="form-fields">
              <a href=""> I’ll do this later</a>
              <label class="form-label">How Long Have You Lived In The Area?</label><br>
              <select id="country" class="country-field search-country"  name="long" [(ngModel)]="long">
                <option value="0"> 2 year </option>
                <option value="1"> 3 year</option>
                <option value="2">4 year</option>
                <option value="3">5 year</option>
              </select>

              <label class="form-label">Relationship status</label><br>
              <select id="status" class="country-field search-country" name="status"
                [(ngModel)]="status">
                <option value="0">Single</option>
                <option value="1">Married</option>
              </select>


              <label class="form-label">Education Level</label><br>
              <select id="level" class="country-field search-country"  name="Education"
                [(ngModel)]="Education">
                <option value="Less Than High School Diploma">Less Than High School Diploma</option>
                <option value="High School Diploma">High School Diploma</option>
              </select>



              <label class="form-label">How Often Do You Smoke?</label><br>
              <select id="smoke" class="country-field search-country"  name="smoke"
                [(ngModel)]="smoke">
                <option value="rarely">Rarely</option>
                <option value="daily">Daily</option>
              </select>


              <label class="form-label">How Often Do You Drink Alcohol?</label><br>
              <select id="alcohol" class="country-field search-country"  name="alcohol"
                [(ngModel)]="alcohol">
                <option value="week">Couple of week</option>
                <option value="daily">Daily</option>
              </select>


              <label for="name" class="form-label">Languages Spoken Other than English</label><br>
              <input type="text" id="name" name="Languages" class="form-field-zip-code search-country"
                [(ngModel)]="Languages"><br>


              <label class="form-label">Any Pets?</label><br>

              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="Dog" #dogs>Dog
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="cat"#cats>cat
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="Rabbit" #rabbits>rabbit
                </label>
              </div>
              

            



              <label class="form-label">Most Of My Friends Tend To Be</label><br>
              <select id="most" class="country-field search-country" name="mostfriend" [(ngModel)]="mostfriend">
                <option value="Only Child">Only Child</option>
                <option value="Eldest Child">Eldest Child</option>
                <option value="Youngest Child">Youngest Child</option>
              </select>


              <label class="form-label">How Do you React If Plans Get Cancelled?</label><br>
              <select id="react" class="country-field search-country" name="cancel" [(ngModel)]="cancel">
                <option value="Things happen-no big Deal">Things happen-no big Deal</option>
                <option value="I’m generally understanding, but I can only be blown off so many times before I will start to question the friendship.">I’m generally understanding, but I can only be blown off so many times before I will start to question the friendship.</option>
              </select>


              <label class="form-label">How Do You Spend Your Days</label><br>
              <textarea rows="10" cols="50" name="days" form="usrform" [(ngModel)]="days">
             </textarea>
              <p class="caution">Content limited to 500 characters, remaining: 500</p>



              <label class="form-label">Favorite Movies</label><br>
              <textarea rows="10" cols="50" name="movies" form="usrform" [(ngModel)]="movies">
             </textarea>
              <p class="caution">Content limited to 500 characters, remaining: 500</p>


              <label class="form-label">Favorite Music</label><br>
              <textarea rows="10" cols="50" name="music" form="usrform" [(ngModel)]="music">
              </textarea>
              <p class="caution">Content limited to 500 characters, remaining: 500</p>

              <label class="form-label">Favorite TV Shows</label><br>
              <textarea rows="10" cols="50" name="shows" form="usrform" [(ngModel)]="shows">
              </textarea>
              <p class="caution">Content limited to 500 characters, remaining: 500</p>



              <label class="form-label">Favorite Books</label><br>
              <textarea rows="10" cols="50" name="books" form="usrform" [(ngModel)]="books">
              </textarea>
              <p class="caution">Content limited to 500 characters, remaining: 500</p>



              <label class="form-label">My Friends And I Usually Talk About</label><br>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="Work" #workss>Work
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="Family" #familys>Family
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="Relationships" #relation>Relationships
                </label>
              </div><br>


              <label class="form-label">A Good Friend Is Someone Who...</label><br>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="is always there for me." #always>is always there for me.
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="always sides with me no matter what." #sides>always sides with me no matter what.
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="gives advice." #advice>gives advice.
                </label>
              </div><br>

              <label class="form-label">Anything else you want to say?</label><br>
              <textarea rows="10" cols="50" name="comment" form="usrform" [(ngModel)]="comment">
               </textarea>
              <p class="caution">Content limited to 500 characters, remaining: 500</p>


              <label class="form-label">Communication Preferences</label><br>
              <mat-form-field>
                <mat-select multiple>
                  <mat-option *ngFor="let Communication of CommunicationList" [value]="Communication">{{Communication}}
                  </mat-option>
                </mat-select>
              </mat-form-field><br>


              <div class="button-container">
                <button type="button" class="button-common button-prev" (click)="previousStep()">Previous</button>
                <button type="button" class="button-common"
                  (click)="LoginForm(name,email,confirmemail,firstname,lastname,zipcode,gender,DOB,activit,country,yogas.value,playdatess.value,sightseeings.value,meet,contracted,long,status,Education,smoke,alcohol,Languages,cats.value,dogs.value,rabbits.value,mostfriend,cancel,days,movies,music,shows,books,workss.value,familys.value,relation.value,always.value,sides.value,advice.value,comment)">Next</button>


              </div>
            </form>
            <div class="having-trouble">

              <p class="text-having-trouble">'Having trouble registering?'</p>
              <img src="../../assets/Images/chat.png" class="chat-image">
            </div>






          </div>

        </mat-tab>





        <mat-tab label="Subscribe">


          <div class="card-one-white">

            <ion-card class="subscribe-card">
              <p class="subscription-successfull-text"> You account is created and you can
                start using our website! </p>
              <a href="#" class="subscription-text-anchor">https://www.not4dating.com/user/</a>
            </ion-card>



            <ion-card class="subscribe-card">
              <p class="subscription-successfull-text">Not4dating Premium Benefits</p>
              <div class="other-option">
                <img src="../../assets/Images/subscheck.png" class="chcek-box-subscribe">
                <p class="text-subscribe-check">No ads</p>
              </div>
              <div class="other-option">
                <img src="../../assets/Images/subscheck.png" class="chcek-box-subscribe">
                <p class="text-subscribe-check">Instant messages</p>
              </div>
              <div class="other-option">
                <img src="../../assets/Images/subscheck.png" class="chcek-box-subscribe">
                <p class="text-subscribe-check">Verified accounts</p>
              </div>
              <div class="other-option">
                <img src="../../assets/Images/subscheck.png" class="chcek-box-subscribe">
                <p class="text-subscribe-check">Improved Search Functions</p>
              </div>
            </ion-card>


            <ion-card class="subscribe-card">
              <div class="membership">

                <p class="membership-text">Start your 7 day trial of the app now (No card required).</p>
                <button type="button" class="button-common" routerLink="/chat/searchTab">Try Now</button>

              </div>
            </ion-card>

            <ion-card class="subscribe-card">
              <div class="membership">
                <p class="membership-text">Become a verified member</p>
                <button type="button" class="button-common" routerLink="/chat/searchTab">Buy Now</button>
              </div>
            </ion-card>

            <ion-card class="subscribe-card">
              <div class="membership">
                <p class="membership-text">Not interested in the app? You can use our website for free. <a
                    href="https://www.not4dating.com/">not4dating.com</a> Check your email to verify your account and
                  get started!</p>

              </div>
            </ion-card>


            <div class="having-trouble">
              <p class="text-having-trouble">'Having trouble registering?'</p>
              <img src="../../assets/Images/chat.png" class="chat-image" (click)="chat()">
            </div>

          </div>

        </mat-tab>
      </mat-tab-group>
    </form>
  </ion-card>
 

</div>


