<ion-content>
  <div class="main-sign-up">
    <mat-tab-group class="mat-background" [(selectedIndex)]="selectedIndex">

      <mat-tab>
        <div class="progree-container">
          <div class="progress">
            <div class="progress-bar" style="width:20%"></div>
          </div>
        </div>
        <div class="forms-field">


          <div class="form-group">
            <label for="usr">What do you like to do for fun?</label>
            <div class="form-check">
              <label class="form-check-label" for="check1">
                <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something"
                  checked>Option 1
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label" for="check2">
                <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Option 2
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">Option 3
              </label>
            </div>
          </div>


          <div class="form-group">
            <label for="usr">How long have you lived here?</label>
            <select class="form-control" id="sel1">
              <option value="0">
                < 2 years</option> <option value="1">2-5 years
              </option>
              <option vlaue="2">>5 years</option>
            </select>
          </div>


          <ion-item class="mt-4 usually-dropdown">

            <ion-label>My friends and I usually talk about</ion-label>
            <ion-select multiple="true" cancelText="Close" okText="Okay">

              <ion-select-option value="Work" #Work>Work
              </ion-select-option>
              <ion-select-option value="Family" #Family>Family</ion-select-option>
              <ion-select-option value="Relationships" #Relationships>Relationships
              </ion-select-option>
              <ion-select-option value="Gossip" #Gossip>Gossip</ion-select-option>
              <ion-select-option value="Fashion" #Fashion>Fashion</ion-select-option>
              <ion-select-option value="Sports" #Sports>Sports</ion-select-option>
              <ion-select-option value="Other" #Other>Other</ion-select-option>
            </ion-select>
          </ion-item>




          <ion-item class="mt-4 usually-dropdown mb-4">

            <ion-label>A Good Friend Is Someone Who...</ion-label>
            <ion-select multiple="true" cancelText="Close" okText="Okay">

              <ion-select-option value="is always there for me." #always>is always there for me.
              </ion-select-option>
              <ion-select-option value="Family" #Family>Family</ion-select-option>
              <ion-select-option value="always sides with me no matter what." #sides>always sides with me no matter
                what.
              </ion-select-option>
              <ion-select-option value="will be honest with me even if it hurts." #hurts>will be honest with me even if
                it hurts.</ion-select-option>
              <ion-select-option value="gives advice" #advice>gives advice</ion-select-option>
              <ion-select-option value="takes my advice." #takes>takes my advice.</ion-select-option>
              <ion-select-option value="is an activity partner." #partner>is an activity partner.</ion-select-option>
            </ion-select>
          </ion-item>


          <div class="form-group">
            <label for="usr">When someone cancels plans we made, I think</label>
            <select class="form-control" id="sel1">
              <option value="My reaction depends on the reason why.">My reaction depends on the reason why.</option>
              <option value="Things happen – no big deal.">Things happen – no big deal.</option>
              <option value="It really bothers me and I am wary of the friendship.">It really bothers me and I am wary
                of the friendship.</option>
              <option
                value="I’m generally understanding, but I can only be blown off so many times before I will start to question the friendship.">
                I’m generally understanding, but I can only be blown off so many times before I will start to question
                the friendship.</option>
            </select>
          </div>

          <div class="continue-button" (click)="nextStep()">
            Continue
          </div>

        </div>
      </mat-tab>

      <mat-tab>
        <div class="progree-container">
          <div class="progress">
            <div class="progress-bar" style="width:80%"></div>
          </div>
        </div>

        <div class="forms-field">
          <div class="form-group">
            <label for="sel1">Are you in a relationship? </label>
            <select class="form-control" id="sel1">
              <option>Single</option>
              <option>Married</option>
              <option>Co-Habitating</option>
              <option value="Significant Other But Not Living Together">Significant Other But Not Living Together
              </option>
              <option value="Divorced">Divorced</option>
              <option value="Widowed">Widowed</option>
              <option value="Engaged">Engaged</option>

            </select>
          </div>


          <div class="blue-button-second-tab">
            Why do we ask this if its
            not for dating or sex?
          </div>


          <div class="form-group">
            <label for="sel1">Do youhave kids</label>
            <select class="form-control" id="sel1">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>


          <ion-item class="mt-4 usually-dropdown mb-4">

            <ion-label>How about pets?</ion-label>
            <ion-select multiple="true" cancelText="Close" okText="Okay">

              <ion-select-option value="Dog" #Dog>Dog
              </ion-select-option>
              <ion-select-option value="Cat" #Cat>Cat</ion-select-option>
              <ion-select-option value="Rabbit" #Rabbit>Rabbit
              </ion-select-option>
              <ion-select-option value="Birds" #Birds>Birds</ion-select-option>
              <ion-select-option value="Fish" #Fish>Fish</ion-select-option>
              <ion-select-option value="Reptile" #Reptile>Reptile</ion-select-option>
              <ion-select-option value="Other" #Other>Other</ion-select-option>
            </ion-select>
          </ion-item>




          <div class="form-group">
            <label for="sel1">I spend my days…</label>
            <input type="text" class="form-control" id="usr">
          </div>

          <div class="form-group">
            <label for="sel1">I also speak</label>
            <input type="text" class="form-control" id="usr">
          </div>
          <div class="continue-button" (click)="nextStep()">
            Continue
          </div>
          <div class="previous-button" (click)="previousStep()">
            Previous
          </div>



        </div>
      </mat-tab>



      <mat-tab>
        <div class="progree-container">
          <div class="progress">
            <div class="progress-bar" style="width:85%"></div>
          </div>
        </div>
        <div class="forms-field">
          <div class="form-group">
            <label for="sel1">Do you smoke?</label>
            <select class="form-control" id="sel1">
              <option value="Never">Never</option>
              <option value="Rarely">Rarely</option>
              <option value="Weekends Only">Weekends Only</option>
              <option value="Couple Times a Week">Couple Times a Week</option>
              <option value=" Every Day"> Every Day</option>

            </select>
          </div>

          <div class="form-group">
            <label for="sel1">How about drinking alcohol? </label>
            <select class="form-control" id="sel1">

              <option value="Never">Never</option>
              <option value="Rarely">Rarely</option>
              <option value="Weekends Only">Weekends Only</option>
              <option value="Couple Times a Week">Couple Times a Week</option>
              <option value=" Every Day"> Every Day</option>
            </select>
          </div>

          <div class="form-group">
            <label for="sel1">Favorite Books</label>
            <input type="text" class="form-control" id="usr">
          </div>

          <div class="form-group">
            <label for="sel1">Favorite Movies</label>
            <input type="text" class="form-control" id="usr">
          </div>

          <div class="form-group">
            <label for="sel1">Favorite TV Shows</label>
            <input type="text" class="form-control" id="usr">
          </div>

          <div class="form-group">
            <label for="sel1">Favorite Music</label>
            <input type="text" class="form-control" id="usr">
          </div>


        </div>
        <div class="continue-button" (click)="nextStep()">
          Continue
        </div>
        <div class="previous-button" (click)="previousStep()">
          Previous
        </div>

      </mat-tab>




      <mat-tab>
        <div class="progree-container">
          <div class="progress">
            <div class="progress-bar" style="width:100%"></div>
          </div>
        </div>
        <div class="forms-field">
          <div class="form-group">
            <label for="sel1">Do you want to add some more photos?</label>
            <div class="ad-more-pics">
              <div class="image-upload-container">
                <img src="../../assets/Images/food.png" class="food">
              </div>
              <div class="image-upload-container">
                <img src="../../assets/Images/food.png" class="food">
              </div>
              <div class="image-upload-container">
                <img src="../../assets/Images/food.png" class="food">
              </div>
              <div class="image-upload-container">
                <img src="../../assets/Images/food.png" class="food">
              </div>
              <div class="image-upload-container">
                <img src="../../assets/Images/food.png" class="food">
              </div>
              <div class="image-upload-container">
                <img src="../../assets/Images/food.png" class="food">
              </div>
              <div class="image-upload-container">
                <img src="../../assets/Images/food.png" class="food">
              </div>
              <div class="image-upload-container">
                <img src="../../assets/Images/food.png" class="food">
              </div>
            </div>

          </div>

          <div class="form-group">
            <label for="comment">Anything else you want to share?</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
          <div class="continue-button" (click)="nextStep()">
            Complete
          </div>
          <div class="previous-button" (click)="previousStep()">
            Previous
          </div>
        </div>
      </mat-tab>


      <mat-tab>
        <div class="forms-field">
          <div class="upper-text-changes">
            Hello! Would you like to add your hobbies and interests to your profile to improve your results?
          </div>

          <div class="form-group">

            <input type="text" class="form-control" id="usr" placeholder="First Pick your top 3">
          </div>

          <div class="form-group">

            <input type="text" class="form-control" id="usr" placeholder="Now pick the rest">
          </div>

          <div class="continue-button" (click)="nextStep()">
            Save Changes
          </div>

          <div class="continue-button-blue">
            Add More to Profile
          </div>
          <div class="span-container">
            <span class="under-text-button">Not right now, Thanks.</span>
          </div>
        </div>

      </mat-tab>
    </mat-tab-group>
  </div>

</ion-content>