

<ion-header>
  <div class="navigation">
    <div class="main-logo">
    <img src="../../assets/Images/header-logo.png" alt="" srcset="" class="header-logo"  (click)="refresh()">
    </div>
    
    <div class="account-status">
    
      <img src="../../assets/Images/user.png" class="status-check"  data-toggle="modal" data-target="#profile" *ngIf="isLoogedIn">
    </div>
    
    <div class="humburger-menu">
      <!-- <img src="../../assets/Images/cross.png" class="hum-burger-menu-cross" *ngIf="crossSign" (click)="humBurgerCross()"> -->
      <img src="../../assets/Images/newmenu.png" class="hum-burger-menu" (click)="humburgereffect()" *ngIf="humBurger" >
    </div>
   
    </div>
    
    <div class="main-menu" *ngIf="mainMenu">

          

      <!-- <ul class="main-list" (click)="itemclick()">
        <li><a routerLink="/signup">Signup</a></li>
        <li><a routerLink="/signin">SignIn</a></li>
        <li><a routerLink="/chat/searchTab">Search Tab</a></li>
        <li><a routerLink="/optional-detail">optional-detail</a></li>
        <li><a routerLink="/register">Old Register</a></li>
      </ul> -->
    </div>
  </ion-header>

 <div class="login-form" *ngIf="logggenIn">

  <form class="form-fields">
    <label for="name" class="form-label">Username</label><br>
    <input type="text" id="name"  class="form-field-zip-code search-country" name="username" #username><br>

    <label for="name" class="form-label">Password</label><br>
    <input  id="password" name="password" class="form-field-zip-code search-country" #password type="password">

    <div class="button-container">
      <button type="button" class="button-common" (click)="LoginForm(username.value,password.value)">Submit</button>

    </div>
</form>


 </div>
   <!-- The Modal nav Option-->
   <div class="modal" id="profile">
    <div class="modal-dialog">
      <div class="modal-content" data-dismiss="modal">
      
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <div class="continue-button" data-toggle="modal" data-target="#profileedit" data-dismiss="modal">
            View/Edit Profile
          </div>
          <div class="continue-button" data-toggle="modal" data-target="#Account" data-dismiss="modal">
            Account Settings
          </div>
<div class="logout-text-container" (click)="logOut()">
          <span class="log-out-text">Log Out</span>
        </div>
        </div>
        
       
        
      </div>
    </div>
  </div>


  <!-- The Modal Profile Edit-->
  <div class="modal" id="profileedit">
    <div class="modal-dialog">
      <div class="modal-content" data-dismiss="modal">
      
        <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          
          <div class="modal-grid">
       
            <div class="profile-picture-modal">
             <img src="../../assets/Images/p1.jpg" class="image-profile">

            </div>

            <div class="profile-name-modal">
              <span class="name">{{name}}</span>
              <span class="not-verified">Verified</span>

           </div>

       </div>

       <div class="sidebar-content">
        <p class="detail-data">FullName:<br><span class="output-text">{{fname}} {{lname}}</span></p>
        <p class="detail-data">Activities:<br><span class="output-text" *ngFor="let actvities of activity">{{actvities.value | slice:3:5}}</span></p>
        <p class="detail-data">Email:<br><span class="output-text">{{Email}}</span></p>
        <p class="detail-data">Date of Birth:<br><span class="output-text">{{DOB}}</span></p>
        <p class="detail-data">Languages:<br><span class="output-text">Hindi,English</span></p>
        </div>
        <div class="continue-button" >
          Add More Info
        </div>
        </div>
        
       
        
      </div>
    </div>
  </div>



  <!-- The Modal Account-->
  <div class="modal" id="Account">
    <div class="modal-dialog">
      <div class="modal-content" >
      
        <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          
          <div class="forms-field">
            <div class="form-group font">
              <label for="sel1">Communication Preferences</label>
              <input type="text" class="form-control" id="usr">
            </div> 

           
          

         
            <label for="sel1" class="font">Change App Subscription:</label>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input font" value="">Switch to Monthly
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input font" value="">Switch to Annual
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input font" value="">Freeze Subscription
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input font" value="">Cancel App Subscription
        </label>
      </div>
      <div class="continue-button blue" >
        Update Billing Info
      </div>

      <div class="form-group font">
        <label for="sel1">New Password</label>
        <input type="text" class="form-control" id="usr">
      </div> 
      <div class="form-group font">
       
        <input type="text" class="form-control" id="usr" placeholder="Type again to confirm">
      </div> 
      <div class="continue-button" >
        Save Changes
      </div>
      <div class="close-account">
        Close Account <br>
        (Delete all My Info)
      </div>
    </div>
    </div>
  </div>
