

  <app-navigationbar></app-navigationbar>

  
<div class="main-div">
  <div class="success-market">Hello! What would you like to do first?
  </div>

  <div class="last-tab-button" routerLink="/chat/searchUser">
    <div class="continue-button-last singin-lasts">
      Find Friends
    </div>
  </div>




  <div class="or">OR</div>


  <div class="last-tab-button" routerLink="/optional-detail">
    <div class="continue-button-last-blue singin-last">
      Finish My Profile
    </div>

    <div class="success-market">Your Profile is currently X% complete. Our members who share more information in
      their profile get better results. But, if you don’t want to finish now you can add to your profile later at
      any time.</div>
  </div>
</div>