<div *ngIf="isLoading" class="loading-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<ion-header>
  <app-navigationbar></app-navigationbar>
</ion-header>
<div class="main-pop-background">
  <div class="main-pop">
    <div class="pop-grids">
      <div class="close-button">
        <img src="../../assets/Images/sign.png" class="close-chat-bubble" (click)="backClicked()">
      </div>
      <div class="modal-grid">
        <div class="profile-name-modal">
          <span class="name dating-body-heading">{{name}}</span>
          <span class="age dating-body-heading">{{age}},{{gender}}</span>
        </div>

        <div class="profile-picture-modal">
          <img src={{picture}} class="image-profile"><br>

        </div>


      </div>
      <span class="Lastlogin dating-body-font">LastLogin:<br>{{lastLogin * 1000 | date}}</span>

      <div class="siderbar-icon-data">
        <div class="side-bar-icon">
          <div class="group-text-image">
            <ion-icon name="chatbubble-ellipses" routerLink="/new-message/{{uid}}/{{name}}" class="favorate_star">
            </ion-icon>
            <span class="name-icon">Chat</span>
          </div>

          <div *ngIf="favorites_status == 1" class="group-text-image" style="opacity: .4;">
            <ion-icon name="star" class="favorate_star disable_fav"></ion-icon>

            <span class="name-icon">Favorite</span>
          </div>
          <div *ngIf="favorites_status == 2" class="group-text-image" (click)="addFavorate()">
            <ion-icon name="star" class="favorate_star"></ion-icon>
            <span class="name-icon">Favorite</span>
          </div>
          <div *ngIf="favorites_status == 3" class="group-text-image" (click)="removingFavorate()">
            <ion-icon name="star" class="favorate_star remove_fav"></ion-icon>
            <span class="name-icon">Favorite</span>
          </div>
          <div class="group-text-image" *ngIf="Block_status == 1">
            <ion-icon name="close-outline" (click)="blockuserpop()" class="favorate_close"></ion-icon>

      <span class="name-icon">Never see again</span> 

          </div>

          <div class="group-text-image" *ngIf="Block_status == 3">
            <ion-icon name="close-outline" class="favorate_star remove_fav favorate_close" (click)="unblock()">
            </ion-icon>
          </div>

          <div class="group-text-image" (click)="openEmailcomposer()">
            <img src="../../../assets/Images/more.png" class="favorate_star new-said-image">
            <!-- <ion-icon name="sad" class="favorate_star "></ion-icon> -->
          </div>
          <div class="groupew-text-image" (click)="openEmailcomposer()">
            <span class="name-icon">Report to admin</span>
          </div>
        </div>
        <div class="sidebar-content">

          <div class="sentence-making-fomr-field" *ngIf="meet == '2'">
            I consider myself <b>{{consider}}</b> and I want to meet <b>A lot of acquaintances</b>
          </div>

          <div class="sentence-making-fomr-field" *ngIf="meet == '1'">
            I consider myself <b>{{consider}}</b> and I want to meet<b>A few good friends</b>
          </div>
          <div class="sentence-making-fomr-field" *ngIf="meet == '3'">
            I consider myself <b>{{consider}}</b> and I want to meet <b> Does not Matter</b>
          </div>
          <br>
          <div class="sentence-making-fomr-field">
            My hobbies and interests are: <b *ngFor="let activity of activity">{{activity.value}}</b>
          </div>
          <br>
          <div class="sentence-making-fomr-field" *ngFor="let Longcity of Longcity">
            I have lived here for <b *ngIf="Longcity.value == 0">
              < 2 years</b><b *ngIf="Longcity.value == 1">2-5 years</b><b *ngIf="Longcity.value == 2">>5 years</b>
          </div>
          <div class="sentence-making-fomr-field" *ngIf="talk">
            My friends and I talk about<b *ngFor="let talk of talk">{{talk.value}}</b>
          </div>
          <div class="sentence-making-fomr-field" *ngIf="good">
            I think a good friend is someone who<b *ngFor="let good of good">{{good.value}}</b>
          </div>
          <div class="sentence-making-fomr-field" *ngIf="cancels">
            When someone cancels plans <b *ngFor="let cancels of cancels">{{cancels.value}}</b>
          </div>
          <div class="sentence-making-fomr-field" *ngIf="statu">
            I am <b *ngFor="let statu of statu">{{statu.value}}</b>
          </div>
          <!-- <div class="sentence-making-fomr-field" *ngIf="statu">

         <span class="no-children"> I have/do not have children and</span> <span class="pets">no pets/one cat/three dogs, etc. </span>
          I am <b *ngFor="let statu of statu">{{statu.value}}</b> in a relationship 
         </div> -->
          <br>
          <div class="fields-data" *ngIf="day">
            <div class="field-name" *ngIf="day">I Spend My Days:</div>
            <div class="output-text" *ngFor="let days of day">{{days.value}}</div>
          </div>

          <div class="fields-data" *ngIf="movie">
            <div class="field-name" *ngIf="movie">Favorate Movies:</div>
            <div class="output-text" *ngFor="let movies of movie">{{movies.value}}</div>
          </div>
          <div class="fields-data" *ngIf="book">
            <div class="field-name" *ngIf="book">Favorate Books:</div>
            <div class="output-text" *ngFor="let books of book">{{books.value}}</div>
          </div>
          <div class="fields-data" *ngIf="tv">
            <div class="field-name" *ngIf="tv">TV Shows:</div>
            <div class="output-text" *ngFor="let tv of tv">{{tv.value}}</div>
          </div>

          <div class="sentence-making-fomr-field" *ngIf="smokes">
            <span *ngIf="smokes">I <b *ngFor="let smokes of smokes">{{smokes.value}}</b> smoke</span>
          </div>
          <div class="sentence-making-fomr-field" *ngIf="alcohol">
            .<span *ngIf="alcohol"><b *ngFor="let alcohol of  alcohol">{{alcohol.value}}</b> drink alcohol</span>
          </div>
          <div class="images-show">

            <span class="images" *ngFor="let image of image">
              <img src="https://gowebtutorial.com/sites/default/files/{{image.filename}}">
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!--Add user to favorites?-->
<div class="favorate-popup" *ngIf="favoarte">
  <div class="favorate-popup-content-one">
    <div class="favorate-popup-content-two">
      <div class="add_as_favorate">
        <div class="content-add-as-favorate">
          Add user to favorites?
        </div>
        <div class="button-add-as-favorate">
          <ion-button color="success" (click)="getFavorite()">Confirm</ion-button>
          <ion-button color="danger" (click)="closePopup()">Cancel</ion-button>
        </div>
      </div>
    </div>
  </div>
</div>




<!--Remove user from favorites?-->
<div class="favorate-popup" *ngIf="removingFav">
  <div class="favorate-popup-content-one">
    <div class="favorate-popup-content-two">
      <div class="add_as_favorate">
        <div class="content-add-as-favorate">
          Remove user from favorites?
        </div>
        <div class="button-add-as-favorate">
          <ion-button color="success" (click)="removeFavorite()">Confirm</ion-button>
          <ion-button color="danger" (click)="closePopup()">Cancel</ion-button>
        </div>
      </div>
    </div>
  </div>
</div>



<!--Block user?-->
<div class="favorate-popup" *ngIf="blockusers">
  <div class="favorate-popup-content-one">
    <div class="favorate-popup-content-two">
      <div class="add_as_favorate">
        <div class="content-add-as-favorate">
          Block user?
        </div>
        <div class="button-add-as-favorate">
          <ion-button color="success" (click)="Blockuser()">Confirm</ion-button>
          <ion-button color="danger" (click)="closePopup()">Cancel</ion-button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Block user?-->
<div class="favorate-popup" *ngIf="unblockusers">
  <div class="favorate-popup-content-one">
    <div class="favorate-popup-content-two">
      <div class="add_as_favorate">
        <div class="content-add-as-favorate">
          Are you sure to unblock user?
        </div>
        <div class="button-add-as-favorate">
          <ion-button color="success" (click)="removeBlock()">Confirm</ion-button>
          <ion-button color="danger" (click)="closePopup()">Cancel</ion-button>
        </div>
      </div>
    </div>
  </div>
</div>