<ion-header>
  <ion-toolbar>
    <ion-title>personalChat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-persona-chat" routerLink="/chat/tabs2">
    <div class="arrow">

      <img src="../../assets/Images/asset-1.png" class="arrow-image">
    </div>
    <div class="image">
      <img src="../../assets/Images/user_-8.png" class="image-chat">
    </div>
    <div class="name">
      <p class="chat-name">Vibrant_chef</p>
    </div>
  </div>



  <div class="chat-time"></div>
    <div class="left-chat">
      <p class="chat-content">How are you?</p>
    </div>
    <div class="right-chat">
      <p class="chat-content">Fine you say</p>
    </div>


    <div class="chat-time"></div>
    <div class="left-chat">
      <p class="chat-content">'Lets meet tomorrow at 8'</p>
    </div>
    <div class="right-chat">
      <p class="chat-content">Thats, great...</p>
    </div>
</ion-content>


<ion-content>
  <div class="text-message-writer">

    <input type="text" id="chat" name="chat" class="chat-field" placeholder="Type your message here">
    <img src="../../assets/Images/send.png" class="img-send">
  </div>



</ion-content>