<ion-header>
  <app-navigationbar></app-navigationbar>
</ion-header>

<div *ngIf="isLoading" class="loading-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<ion-content>
  <div class="main-sign-up">
    <mat-tab-group class="mat-background" [(selectedIndex)]="selectedIndex">

      <mat-tab>
        <div class="progree-container">
          <div class="progress">
            <div class="progress-bar" style="width:25%"></div>
          </div>
        </div>
        <div class="forms-field">

          <div class="form-group">
            <label for="usr">Username</label>
            <input type="text" class="form-control" id="usr" name="name" [(ngModel)]="name">
          </div>
          <div class="form-group">
            <label for="usr">First name</label>
            <input type="text" class="form-control" id="first_name" name="fname" [(ngModel)]="fname">
          </div>
          <div class="form-group">
            <label for="usr">Last name</label>
            <input type="text" class="form-control" id="last_name" name="lname" [(ngModel)]="lname">
          </div>
<!-- 
          <div class="form-group">
            <label for="usr">When is your birthday*?</label><br>
         <mat-form-field class="example-full-width" appearance="fill">              <input matInput [matDatepicker]="picker"  placeholder="Date of Birth" [(ngModel)]="DOB">
           <mat-datepicker-toggle matSuffix [for]="picker">
             <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
           </mat-datepicker-toggle>
           <mat-datepicker #picker></mat-datepicker>
         </mat-form-field><br>
       </div> -->

       <div class="form-group">
        <label for="sel1">Gender</label>
        <select class="form-control" id="sel1" name="Gender" [(ngModel)]="Gender">
          <option value="Male"> male</option>
          <option value="Female">female</option>
          <option value="Gender Diverse">gender diverse</option>
        </select>
        <span class="under-text"></span>
      </div>

    
      <div class="form-group">
        <label for="contarct">Wanting to be contacted by</label>
        <select class="form-control" id="contarct" name="contract" [(ngModel)]="contract">
          <option value="0" selected>men only</option>
          <option value="1">women only </option>
          <option value="2">gender diverse only</option>
          <option value="3" selected="selected">everyone</option>
        </select>
        <span class="under-text"></span>
      </div>

           
      <div class="form-group">
        <label for="sel1">I consider myself</label>
        <select class="form-control" id="sel1" name="myself" [(ngModel)]="myself">
          <option value="Outgoing">Outgoing</option>
          <option value="On the Quieter Side">On the Quieter Side</option>
          <option value="A Mix of Both">A Mix of Both</option>
        </select>
        <span class="under-text"></span>
      </div>

      <div class="form-group">
        <label for="sel1">I want to meet</label>
        <select class="form-control" id="sel1" name="meet" [(ngModel)]="meet">
          <option value="1">a few goods friends</option>
          <option value="2">a lot of accquaintances</option>
          <option value="3">no preference</option>
        </select>
        <span class="under-text"></span>
      </div>

          <div class="continue-button" (click)="nextStep()">
            Continue
          </div>

        </div>
      </mat-tab>

      <mat-tab>
        <div class="progree-container">
          <div class="progress">
            <div class="progress-bar" style="width:50%"></div>
          </div>
        </div>
        <div class="forms-field">

          <div class="form-group">
            <label for="sel1">I live in </label>
            <select class="form-control" id="sel1" name="live" [(ngModel)]="country">
              <option value="us" selected="selected">US</option>
              <option value="ca">Canada</option>
              <option value="in">India</option>
              <option value="gb">UK</option>
              <option value="au">Australia</option>
              <option value="nz">New Zealand</option>
              <option value="sg">Singapore</option>
            </select>
            <span class="under-text"></span>
          </div>

          <div class="form-group">
            <label for="usr">at this postal/zip code</label>
            <input type="text" class="form-control" id="usr" name="zip" [(ngModel)]="zip">
            <span class="under-text"></span>
          </div>
      
        <div class="ionic-dropdowns">

          <label class="label-ionic-dropdown">What do you like to do for fun?</label>
          <ion-item class="usually-dropdown">
            <ion-label></ion-label>
            <ion-select multiple="true" cancelText="Close" okText="Okay" name="fun" [(ngModel)]="fun"
              class="ion-select-option-setting">
              <ion-select-option value="select" >Select</ion-select-option>
              <ion-select-option value="yoga" #yogas>yoga</ion-select-option>
              <ion-select-option value="playdates (parents and children)" #playdatess>playdates (parents and children)
               </ion-select-option>
                  <ion-select-option value="happy hour/cocktails/beers" #beers>happy hour/cocktails/beers
               </ion-select-option>
               <ion-select-option value="sightseeing" #sightseeings>sightseeing</ion-select-option>
               <ion-select-option value="artsy stuff (making or looking at)" #artsy>artsy stuff (making or looking at)
               </ion-select-option>
               <ion-select-option value="cooking" #cook>cooking</ion-select-option>
               <ion-select-option value="dancing" #dancing>dancing</ion-select-option>
               <ion-select-option value="people watching" #watching>people watching</ion-select-option>
            <ion-select-option value="traveling/vacations" #traveling>traveling/vacations</ion-select-option>
 
               <ion-select-option value="history buff" #history>history buff</ion-select-option>
               <ion-select-option value="board games" #board>board games</ion-select-option>
               <ion-select-option value="sports (playing)" #sports>sports (playing)</ion-select-option>
               <ion-select-option value="mom's/dad's night out w/o kids" #mom>mom's/dad's night out w/o kids
               </ion-select-option>
               <ion-select-option value="outdoor activities" #outdoor>outdoor activities</ion-select-option>
               <ion-select-option value="dining out" #dining>dining out</ion-select-option>
               <ion-select-option value="concerts/shows" #concerts>concerts/shows</ion-select-option>
               <ion-select-option value="sports (watching)" #sportwatching>sports (watching)</ion-select-option>
               <ion-select-option value="shopping" #shoppings>shopping</ion-select-option>
               <ion-select-option value="video games" #games>video games</ion-select-option>
                <ion-select-option value="crafty things (things you make)" #crafty>crafty things (things you make)
               </ion-select-option>
               <ion-select-option value="photography" #photographs>photography</ion-select-option>
               <ion-select-option value="animal lover/pet owner" #animal>animal lover/pet owner</ion-select-option>
               <ion-select-option value="crime/mystery reader" #crime> crime/mystery reader</ion-select-option>
               <ion-select-option value="chess" #chess>chess</ion-select-option>
 
 
  <ion-select-option value="movies">movies</ion-select-option>
      
               <ion-select-option value="fitness/exercise" >fitness/exercise</ion-select-option>
               <ion-select-option value="playing music">playing music</ion-select-option>
             <ion-select-option value="trekking/backpacking/camping" >trekking/backpacking/camping
               </ion-select-option> 
                   <ion-select-option value="cars/motorcycles" #cars>cars/motorcycles</ion-select-option>
               <ion-select-option value="antiques" #antiques>antiques</ion-select-option>
               <ion-select-option value="horses/riding" #horses>horses/riding</ion-select-option>
               <ion-select-option value="anime/manga" #anime>anime/manga</ion-select-option>
               <ion-select-option value="scifi/fantasy" #scifi>scifi/fantasy</ion-select-option>
               <ion-select-option value="scuba" #scuba> scuba</ion-select-option>
               <ion-select-option value="gardeningr" #gardening>gardening</ion-select-option>
               <ion-select-option value="rock climbing" #rock>rock climbing</ion-select-option>
               <ion-select-option value="cycling/mountain biking" #cycling>cycling/mountain biking</ion-select-option>
 
               <ion-select-option value="mindfulness and meditation" #mindfulness>mindfulness and meditation
               </ion-select-option>
               <ion-select-option value="makeup/hair/beauty" #makeup>makeup/hair/beauty</ion-select-option>
               <ion-select-option value=" gambling" #gambling>gambling</ion-select-option>
 
               <ion-select-option value="billiards/snooker" #billiards>billiards/snooker</ion-select-option>
               <ion-select-option value="astrology/tarot" #astrology>astrology/tarot</ion-select-option>
               <ion-select-option value="golf" #astrology> golf</ion-select-option>
               <ion-select-option value="day hikes/bushwalking" #hikes>day hikes/bushwalking</ion-select-option>
               <ion-select-option value="tabletop RPG (D&D)" #tabletop>tabletop RPG (D&D)</ion-select-option>
               <ion-select-option value="reading" #reading>reading</ion-select-option>
               <ion-select-option value="creative writing" #creative>creative writing</ion-select-option>
               <ion-select-option value="cosplay" #cosplay>cosplay</ion-select-option>
               <ion-select-option value="home decorating" #home>home decorating</ion-select-option>
 
               <ion-select-option value=" knitting, crochet, or sewing" #knitting>knitting, crochet, or sewing
               </ion-select-option>
 
 
               <ion-select-option value="card games" #card>card games</ion-select-option>
               <ion-select-option value="religious activities" #religious>religious activities</ion-select-option>
               <ion-select-option value="board sports (surf, paddle, kite)" #board>board sports (surf, paddle, kite)
               </ion-select-option>
 
               <ion-select-option value="religious activities" #religious>religious activities</ion-select-option>
               <ion-select-option value="volunteering, charity work" #volunteering>volunteering, charity work
               </ion-select-option>
               <ion-select-option value="tennis" #tennis>tennis</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div class="form-group">
          <label for="usr">How long have you lived here?</label>
          <select class="form-control selectpicker" id="sel1" name="long" [(ngModel)]="live">
            <option value="0" style="background-color: azure;">
              < 2 years</option> <option value="1">2-5 years
            </option>
            <option value="2">>5 years</option>
          </select>
        </div>


        <div class="ionic-dropdowns">

          <label class="label-ionic-dropdown">My friends and I usually talk about</label>
          <ion-item class="usually-dropdown">
            <ion-label></ion-label>
            <ion-select multiple="true" cancelText="Close" okText="Okay" name="talkabout" [(ngModel)]="talkabout"
              class="ion-select-option-setting">

              <ion-select-option value="Work" #Work>Work
              </ion-select-option>
              <ion-select-option value="Family" #Family>Family</ion-select-option>
              <ion-select-option value="Relationships" #Relationships>Relationships
              </ion-select-option>
              <ion-select-option value="Gossip" #Gossip>Gossip</ion-select-option>
              <ion-select-option value="Fashion" #Fashion>Fashion</ion-select-option>
              <ion-select-option value="Sports" #Sports>Sports</ion-select-option>
              <ion-select-option value="Other" #Other>Other</ion-select-option>
            </ion-select>
          </ion-item>
        </div>


        <label class="label-ionic-dropdown mt-4">A Good Friend Is Someone Who...</label>
        <ion-item class="usually-dropdown mb-4">

          <ion-label></ion-label>
          <ion-select multiple="true" cancelText="Close" okText="Okay" name="goodFriend" [(ngModel)]="goodFriend">

            <ion-select-option value="is always there for me" #always>is always there for me
            </ion-select-option>
            <ion-select-option value="always sides with me no matter what" #sides>always sides with me no matter
              what.
            </ion-select-option>
            <ion-select-option value="will be honest with me even if it hurts" #hurts>will be honest with me even if
              it hurts.</ion-select-option>
            <ion-select-option value="gives advice" #advice>gives advice</ion-select-option>
            <ion-select-option value="takes my advice" #takes>takes my advice.</ion-select-option>
            <ion-select-option value="is an activity partner" #partner>is an activity partner.</ion-select-option>
          </ion-select>
        </ion-item>
      

        <div class="form-group">
          <label for="usr">When someone cancels plans we made </label>

          
          <select class="form-control" id="sel1" name="cancels" [(ngModel)]="cancels">
            <option value="My reaction depends on the reason why.">My reaction depends on the reason why.</option>
            <option value="I think no big deal.">I think no big deal</option>
            <option value="It really bothers me and I am wary of the friendship.">It really bothers me and I am wary
              of the friendship.</option>
            <option
              value="I’m generally understanding, but I can only be blown off so many times before I will start to question the friendship.">
              I’m generally understanding, but I can only be blown off so many times before I will start to question
              the friendship.</option>
          </select>
        </div>




     
          <div class="form-group">
            <label for="sel1">Are you in a relationship? </label>
            <select class="form-control" id="sel1" name="status" [(ngModel)]="status">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
           

            </select>
          </div>


          <!-- <div class="blue-button-second-tab" (click)="Alert()">
            Why do we ask this if its
            not for dating or sex?
          </div> -->


          <div class="form-group">
            <label for="sel1">Do you have kids?</label>
            <select class="form-control" id="sel1">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>

          <label class="label-ionic-dropdown mt-4">Do You Have Pets?</label>
          <ion-item class="usually-dropdown mb-4" no-lines>

            <ion-label></ion-label>
            <ion-select multiple="true" cancelText="Close" okText="Okay" name="pets" [(ngModel)]="pets" no-lines>
              <ion-select-option value="Dog" #Dog>Dog
              </ion-select-option>
              <ion-select-option value="Cat" #Cat>Cat</ion-select-option>
              <ion-select-option value="Rabbit" #Rabbit>Rabbit
              </ion-select-option>
              <ion-select-option value="Birds" #Birds>Birds</ion-select-option>
              <ion-select-option value="Fish" #Fish>Fish</ion-select-option>
              <ion-select-option value="Reptile" #Reptile>Reptile</ion-select-option>
              <ion-select-option value="Other" #Other>Other</ion-select-option>
            </ion-select>
          </ion-item>




          <div class="form-group">
            <label for="sel1">I spend my days…</label>
            <textarea class="form-control" rows="5" id="usr" name="spend" [(ngModel)]="spend"></textarea>
          </div>

          <div class="form-group">
            <label for="sel1">I also speak</label>
            <input type="text" class="form-control" id="usr" name="speak" [(ngModel)]="speak">
          </div>
          <div class="continue-button" (click)="nextStep()">
            Continue
          </div>
          <div class="previous-button" (click)="previousStep()">
            Previous
          </div>



        </div>
      </mat-tab>



      <mat-tab>
        <div class="progree-container">
          <div class="progress">
            <div class="progress-bar" style="width:75%"></div>
          </div>
        </div>
        <div class="forms-field">
          <div class="form-group">
            <label for="sel1">Do you smoke?</label>
            <select class="form-control" id="sel1" name="smoke" [(ngModel)]="smoke">
              <option value="Never">Never</option>
              <option value="Rarely">Socially</option>
              <option value="Yes">Yes</option>
              <!-- <option value="Couple Times a Week">Couple Times a Week</option>
              <option value=" Every Day"> Every Day</option> -->

            </select>
          </div>

          <div class="form-group">
            <label for="sel1">How about drinking alcohol? </label>
            <select class="form-control" id="sel1" name="alcohol" [(ngModel)]="alcohol">

              <option value="Never">Never</option>
              <option value="Rarely">Rarely</option>
              <option value="Weekends Only">Weekends Only</option>
              <option value="Couple Times a Week">Couple Times a Week</option>
              <option value=" Every Day"> Every Day</option>
            </select>
          </div>


    


          <div class="form-group">
            <label for="sel1">Favorite Books</label>
            <textarea class="form-control" rows="5" id="usr" name="books" [(ngModel)]="books"></textarea>
          </div>

          <div class="form-group">
            <label for="sel1">Favorite Movies</label>
            <textarea class="form-control" rows="5" id="usr" name="movies" [(ngModel)]="movies"></textarea>
          </div>

          <div class="form-group">
            <label for="sel1">Favorite TV Shows</label>
            <textarea class="form-control" rows="5" id="usr" name="shows" [(ngModel)]="shows"></textarea>
          </div>

          <div class="form-group">
            <label for="sel1">Favorite Music</label>
            <textarea class="form-control" rows="5" id="usr" name="music" [(ngModel)]="music"></textarea>
          </div>




        </div>
        <div class="continue-button" (click)="nextStep()">
          Continue
        </div>
        <div class="previous-button" (click)="previousStep()">
          Previous
        </div>

      </mat-tab>




      <mat-tab>
        <div class="progree-container">
          <div class="progress">
            <div class="progress-bar" style="width:100%"></div>
          </div>
        </div>

        <div class="forms-field">
          <h3 class="dating-body-heading">Your photos</h3>
          <div class="additionalUserImages">
            <div class="imageContainer" *ngFor="let image of userImages">
              <img class="userImage" src="https://gowebtutorial.com/sites/default/files/{{image.filename}}" />
            </div>
          </div>

          <h3 class="dating-body-heading">Upload another</h3>
          <div *ngIf="!imageContinue" class="upload-btn-wrapper">
            <div class="upload-button">
              <div class="logo-camera">
                <img src="../../assets/Images/camera.png" class="camera-pic">
              </div>
              <div>
                <button *ngIf="!imageContinue" class="btn" (click)="filechooser()"><span class="dating-body-heading">Upload from library</span></button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="comment">Anything else you want to share?</label>
            <textarea class="form-control" rows="5" id="comment" name="anything" [(ngModel)]="anything"></textarea>
          </div>
          <div class="continue-button"
            (click)="optionDetail(name,fname,lname,Gender,contract,myself,meet,country,zip,fun,live,talkabout,goodFriend,cancels,status,pets,spend,speak,smoke,alcohol,education,books,movies,shows,music,anything)">
            Complete
          </div>
          <div class="previous-button" (click)="previousStep()">
            Previous
          </div>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>

</ion-content>